.banner {
    height: calc(100vh - 78px);
    background: url(../../../assets/images/backgrounds/window-studio.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none;
}