<section class="banner" fxLayout fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center" style="position: relative; border: 50px solid rgba(206,206,206,0.52);">
        <div fxLayout="row" fxLayoutAlign="center center" class="logo-container full-width"
            style="">
            <!-- <div style="width: 60px; height: 60px;">
                <mat-icon inline="true" svgIcon="logo-bars" style="font-weight: 700;" color="primary"></mat-icon> 
            </div> -->
            <div fxLayout="column" fxLayoutAlign="center" class="topbar-branding full-width">
                <div fxLayout>
                    <div fxFlex="45" fxLayoutAlign="center center" class="mat-elevation-z1"
                        style="background: var(--primary-color); padding: 0px 0px; color: var(--light-theme); border-top-left-radius: 4px; border-bottom-left-radius: 4px; font-weight: 900;">
                        <span style="font-size: 50px;">Beat</span>
                    </div>
                    <div fxFlex="55" fxLayoutAlign="center center" fxFlex class="mat-elevation-z1"
                        style="background: var(--accent-color); color: var(--light-theme); padding: 4px 8px; border-radius: 0px; border-top-right-radius: 4px; border-bottom-right-radius:4px; font-weight: 900;">
                        <span style="font-size: 50px;">Blender</span>

                    </div>
                    <!-- <span class="ml-8 mb-auto" style="transform: translateY(-30px);">
            </span> -->
                </div>
                <!-- <h4  class="text-center" style="color: var(--body-color); font-size: 16px; font-weight: 300; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Free & Social Music.</h4> -->
                <!-- <img src="assets/images/egret.png" alt="" class="app-logo"> -->
            </div>
            
        </div>
        <div class="px-48 py-8 mat-elevation-z1 full-width" style="background: var(--light-theme); border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;">
            <h6 class="m-0">
                <!-- <span style="color: var(--body-color);">BeatBlender</span> -->
                <span style="color: var(--body-color);">Music </span> To Change The World
            </h6>
        </div>
        <div class="full-width" style="position: absolute; bottom: -50px; right: -50%; transform: translateX(-50%);">
        <span style="font-family: 'Lazer84'; font-size: 32px; color: var(--light-theme);">Independent Artists.</span>
        </div>
    </div>

</section>
<section fxLayout="column">
    <!-- <h1>Music To Change The World</h1> -->
    <div>
        <mat-card-content style="font-size: 20px; line-height: 50px;">
          <div fxLayout fxLayoutGap="50px" fxLayoutAlign="center center">
            <!-- <img style="width: 500px; height: 200px; object-fit: cover; border-radius: 8px;" src="../../../assets/images/backgrounds/studio1.jpg" alt=""> -->
            <div fxLayout="column" fxLayoutAlign="start center">
              <!-- <div fxLayout fxLayoutAlign="start center" fxLayoutGap="space-between">
                
              </div> -->
              <div fxLayout fxLayoutGap="30px" fxLayoutAlign="center center">
                <app-divider size="sm" fxFlex color="var(--light-theme-accent)"></app-divider>
                <h1 style="">Music To Change The World</h1>
                <app-divider size="sm" fxFlex color="var(--light-theme-accent)"></app-divider>
              </div>
              <mat-card-title class="text-center"> <span style="font-weight: 300;">We Support Artists To</span><br> <span
                  style="font-weight: 700; font-size: 72px; color: var(--primary-color); line-height: 100px;"> Spread <span style="color: var(--body-color);">Their </span>
                  <span style="color: var(--accent-color);">Message</span></span></mat-card-title>
              <p fxFlex class="text-center">
                The BeatBlender Label strives to sign artists who have a follow  
              </p>
              <!-- <button mat-raised-button mat-lg-button color="accent" style="color: var(--light-theme);"
                routerLink="/sample-market">Sample Market</button> -->
            </div>
          </div>
        </mat-card-content>
      </div>
    <div fxLayoutAlign="start start"
          style="width: 100%; height: 400px; background-image: url(../../../assets/images/backgrounds/happy-listening.jpg); background-position: center; background-repeat: no-repeat; background-size: cover;">
          <!-- <mat-card style="opacity: 1; padding: 20px 80px;" class="">
          <mat-card-title class="text-center"> <span style="font-weight: 300;">All Samples Are For</span> <br> <span style="font-weight: 700; font-size: 36px; color: var(--primary-color);">Free <span style="color: var(--accent-color);">Use</span></span></mat-card-title>
          </mat-card> -->
        </div>
</section>