<mat-sidenav-container fxLayout="row" class="full-width br-8 sidenav-container audio-sidenav-container">
      
    <mat-sidenav EgretSideNavToggle class="shop-sidebar" style="border-right: none;">
      <div class="shop-filters-wrap " fxLayout="column" fxLayoutGap="5px">
        <app-quick-access-menu class="quick-access-menu"></app-quick-access-menu>
        <!-- <router-outle></router-outle> -->
          <!-- <app-sidenav [items]="listenItems" [hasIconMenu]="hasIconTypeMenuItem" [iconMenuTitle]="iconTypeMenuTitle" titleColor="primary"></app-sidenav> -->
        </div>
  </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>