<div class="shop-wrap" style="background: var(--light-theme); border-radius: 8px;">
  <div class="full-width" style="position: relative;">
    <!-- Search Form -->
    <!-- <router-outlet></router-outlet> -->
    <!-- <app-heading class="mt-16" title="Sample Market" subTitle="Find the Samples you deserve." [breadcrumbs]="breadcrumbs"></app-heading> -->
    <div class="full-width p-8" [fxLayout.lt-lg]="'column'" [fxLayout.gt-md]="'row'"
      [fxLayoutAlign.gt-md]="'space-between center'" [fxLayoutAlign.lt-lg]="'start start'" fxLayoutGap="20px">
      <div class="full-width" [fxLayout.xs]="'column'" [fxLayout.gt-xs]="'row'" [fxLayoutAlign.gt-xs]="'start center'"
        [fxLayoutAlign.xs]="'start center'">
        <!-- <div class="m-16" style="width: 100px; height: 100px;"> -->
        <img src="../../../assets/images/sido.jpeg" style="" alt="" class="artist-image mat-elevation-z1">
        <!-- </div> -->
        <h1 fxFlex [ngStyle.xs]="{'text-align' : 'center'}" [ngStyle.gt-xs]="{'text-align' : 'center'}"
          style="font-size: 34px;"><span class="" style="color: var(--body-color);">{{artistName}}</span></h1>

      </div>
      <div fxLayout="column" class="mx-8 full-width">
        <div class="full-width" [fxLayout.xs]="'column'" [fxLayout.gt-xs]="'row'" fxLayoutGap="10px"
          fxLayoutAlign="end end">
          <button mat-raised-button color="primary" class="full-width">
            <mat-icon class="mr-8">person_add</mat-icon>
            Follow
          </button>
          <button class="full-width" mat-raised-button color="accent" style="color: var(--light-theme);">
            <mat-icon class="mr-8">email</mat-icon>
            Collaboration Request
          </button>

        </div>
      </div>
    </div>
    <h4 class="pl-8 mt-16" style="font-size: 20px; font-weight: 300;">No matter what license you use, no Sample requires
      a pre-investment and can be used on all Streaming Services.</h4>
    <mat-card class="p-0 m-0" style="box-shadow: none !important;">
      <mat-tab-group>
        <mat-tab label="Samples">
          <div class="pt-8 full-width" [fxLayout.lt-lg]="'column'" [fxLayout.gt-md]="'row'" fxLayoutGap="10px">
            <div class="full-width" [fxLayout.xs]="'column'" [fxLayout.gt-xs]="'row'"
              [fxLayoutAlign.gt-xs]="'space-between center'" [fxLayoutAlign.xs]="'center start'" fxLayoutGap="10px">
              <!-- <div fxLayout fxLayoutGap="10px" fxLayoutAlign="start center" class="pl-8">

                <button [routerLink]="customerRouteFor('bb-100')" routerLinkActive="active" class="quick-access-button"
                  mat-raised-button>BB-100</button>
                <button [routerLink]="customerRouteFor('bb-70')" routerLinkActive="active" class="quick-access-button"
                  mat-raised-button>BB-70</button>
                <button [routerLink]="customerRouteFor('bb-30')" routerLinkActive="active" class="quick-access-button"
                  mat-raised-button>BB-30</button>
              </div> -->
              <div [ngClass.xs]="'ml-auto'" fxLayout fxLayoutGap="10px" class="mx-8">
                <button mat-raised-button (click)="changeViewMode('grid-view')"
                  [color]="viewMode === 'grid-view' ? 'accent' : ''">
                  <mat-icon>
                    <span class="material-icons-outlined" [ngStyle]="{ 'color': viewMode === 'grid-view' ? 'var(--light-theme)' : 'var(--body-color)'}">
                      apps
                    </span>
                  </mat-icon>
                </button>
                <button mat-raised-button (click)="changeViewMode('list-view')"
                  [color]="viewMode === 'list-view' ? 'accent' : ''">
                  <mat-icon [ngStyle]="{ 'color': viewMode === 'grid-view' ? 'var(--body-color)' : 'var(--light-theme)'}">list</mat-icon>
                </button>
              </div>
            </div>
            <div [fxFlex.gt-md]="'350px'">
              <app-searchbar style="width: 500px;" type="sample" [searchForm]="searchForm"
                (searchRequest)="applyFilter(0)" (searchStringChange)="changeSearchString($event)"
                (pageChange)="changePage($event)" (countChange)="changeCount($event)"
                (expandFilter)="toggleFilter($event)" (sidenavChange)="toggleSidenav()" [sortBy]="sortBy"
                [page]="pageNo" [pageSize]="pageSize"></app-searchbar>

            </div>
          </div>

          <!-- <app-sub-heading title="License Type BB-A1"></app-sub-heading> -->
          <!-- <p class="p-line py-8 px-32" style="font-size: 16px; line-height: 20px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime modi totam dolores recusandae, et, aperiam atque sequi laudantium soluta repudiandae veniam vel nisi incidunt voluptatem error unde sint sunt culpa inventore? Adipisci facere incidunt reiciendis illo maiores officia accusamus natus ab doloremque nihil aliquam in suscipit quos, provident quis? Aperiam? <a href="#" class="hypertext">Read more</a></p> -->
          <!-- <div style=" width: 100%; border-top: 5px dotted var(--primary-color); top: 90px; left: 0; position: absolute;"></div> -->
          <!-- <div style="height: 0px; width: 300px; border: 2px dotted var(--primary-color); top: 5px; left: 0; position: absolute;"></div>
            <div style="height: 0px; width: 300px; border: 2px dotted var(--primary-color); top: 10px; left: 0; position: absolute;"></div> -->
          <!-- <div style="height: 0px; width: 300px; border: 2px dotted var(--primary-color); top: 0; left: 0; position: absolute;"></div>
            <div style="height: 0px; width: 300px; border: 2px dotted var(--primary-color); top: 0; left: 0; position: absolute;"></div>
            <div style="height: 0px; width: 300px; border: 2px dotted var(--primary-color); top: 0; left: 0; position: absolute;"></div>
            <div style="height: 0px; width: 300px; border: 2px dotted var(--primary-color); top: 0; left: 0; position: absolute;"></div>
            <div style="height: 0px; width: 300px; border: 2px dotted var(--primary-color); top: 0; left: 0; position: absolute;"></div> -->




          <!-- <mat-progress-bar color="primary" mode="determinate" value="100" class="mt-16"></mat-progress-bar> -->
          <!-- <mat-progress-bar *ngIf="!responseReceived" mode="query" class="mb-16"></mat-progress-bar> -->

          <app-search-filter [searchFilterFormMap]="searchFilterFormMap" (filterFormChange)="applyFilter(0, $event)"
            [isFilterOpen]="isFilterOpen"></app-search-filter>
          <!-- <app-search-filter></app-search-filter> -->
          <!-- Products container -->
          <!-- <h2 style="color: var(--primary-color);">Sample Market</h2> -->
          <!-- <h2><span style="color: var(--primary-color);">S</span>ample <span style="color: var(--accent-color);">M</span>arket </h2> -->
          <!-- [ngClass]="{'list-view': viewMode === 'list-view'}" -->


          <div class="product-container" fxLayout="row wrap" fxLayoutAlign="start start">
            <!-- Product Box -->
            <ng-container
              *ngIf="(sampleLicensingMarketService.samples$ | async)?.length <= 0 && (sampleLicensingMarketService.samples$ | async) != null"
              ; else product>
              <div fxFlex fxLayoutAlign="center">
                <span class="fs-24">No samples match your request.</span>
              </div>
            </ng-container>
            <ng-container #product>
              <div fxLayout="row" class="product-wrap"
                *ngFor="let sample of (sampleLicensingMarketService.samples$ | async) | paginate: { itemsPerPage: pageSize, currentPage: pageNo, totalItems: count }; let i = index;"
                [@animate]="{value:'*',params:{delay: (i*300)+'ms', y:'300px'}}">
                <!-- [@animate]="{value:'*',params:{delay: (i*50)+'ms', y:'50px'}}" -->
                <!-- [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'100px'}}" -->
                <div fxLayout="column" class="product-inner default-bg mx-8 my-16 full-width">
                  <!-- <div *ngIf="product?.badge?.text" class="product-badge mat-elevation-z7" [ngStyle]="{background: product?.badge?.color || '#f44336'}">
                        <span>{{product?.badge?.text}}</span>
                      </div> -->
                  <app-audio-panel [sample]="sample" light="true"
                    [type]="viewMode === 'grid-view' ? 'sample' : 'primary'"
                    (clickEvent)="redirectToTermsAndConditions(sample)"></app-audio-panel>

                  <!-- Visible when viewMode === list-view -->
                  <!-- <div class="more-info-wrap p-16" *ngIf="viewMode === 'list-view'">
                      <div class="more-info">
                        <div class="more-actions mb-16">
                          <div class="product-rating">
                            <star-rating [starType]="'svg'" [readOnly]="true" [size]="'medium'" [staticColor]="'ok'"
                              [rating]="4.63"></star-rating>
                            <small class="text-muted">(140)</small>
                          </div>
                          <span fxFlex></span>
                          <button mat-icon-button>
                            <mat-icon>playlist_add</mat-icon>
                          </button>
                          <button mat-icon-button>
                            <mat-icon>favorite</mat-icon>
                          </button>
                        </div>
        
                        <div>
                          <ul>
                            <li>
                              <mat-icon>check</mat-icon> Heavy duty
                            </li>
                            <li>
                              <mat-icon>check</mat-icon> Water resistance
                            </li>
                            <li>
                              <mat-icon>check</mat-icon> Clean design
                            </li>
                            <li>
                              <mat-icon>check</mat-icon> High quality raw materials
                            </li>
                          </ul>
                        </div>
        
                      </div>
                    </div> -->

                </div>
              </div>
            </ng-container>

            <div class="products-pagination" *ngIf="count > pageSize">
              <!-- <pagination-controls (pageChange)="currentPage = $event"></pagination-controls> -->
              <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Biographie">
          <div class="p-16">
            <h4 class="" style="font-size: 20px; font-weight: 300;">releases: BSR007 - UltraWild001 - FNK001 - JR132 -
              FNK002 - ANT070 - FNK003 - FNK004 - FNK005
              booking: matteogarbi@icloud.com
              store: matt2nd.bandcamp.com/music
              vinyls: www.discogs.com/it/seller/matt2nd/profile

              Artists with whom I had the pleasure to share the stage:
              Juno Reactor, KDS, Stabfinger, Kernel Panik, Blackqirex, Manito MNT, Ben Coda, Hazard Unitz, Nonem, Groove
              Addiction, Sandblasting, Pyrotek, Blame Society, 69db, Ixindamix, Max Volume, Jeff23, Epsylonn, Trakerz,
              Sloogy, Bangbass, Latitanz, Suburbass, Tomahawk, Desert Storm, Okupe, Penn-ak, Mononom, 25eme Dimension,
              Prosper, Autogeddon, Kilfa, Zod, Vikkei, K-Luis, Pablito el Drito, Electrobugs, Frank Blake,
              Freakbrothers, Tysot, Ulver Kaos, Kris Klownz, Baboden, Uindigo, Ekomatik, Acid Anonymous & more</h4>

          </div>
        </mat-tab>
        <mat-tab label="Collaboration Requests">
          <app-under-construction></app-under-construction>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>

</div>