<mat-sidenav-container fxLayout="row" class="full-width br-8 sidenav-container home-sidenav">

  <!-- <mat-sidenav EgretSideNavToggle class="shop-sidebar" style="border-right: none;">
    <div class="shop-filters-wrap " fxLayout="column" fxLayoutGap="5px">

      <app-sidenav [items]="listenItems" [hasIconMenu]="hasIconTypeMenuItem" [iconMenuTitle]="iconTypeMenuTitle">
      </app-sidenav>
    </div>
  </mat-sidenav> -->
  <!-- <router-outlet></router-outlet> -->
  <!-- <div class="scrollable"> -->
  <div fxLayout="column" fxLayoutGap="20px">


    <section class="home-section section-intro text-center">
      <div class="container landing-container" fxLayout="column">
        <mat-card class="landing-card" fxLayout="column">
          <mat-card-content fxFlex fxLayout="column">
            <section>
              <h2> <span style="color: var(--body-color);">Enter A Free </span> <span
                  style="color: var(--accent-color);">Music </span>Culture</h2>

              <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" class="mb-48">
                <button color="primary" fxFlex fxLayoutAlign="center center" mat-raised-button mat-lg-button
                  style="font-weight: 700; font-size: 16px;" (click)="login()">
                  <mat-icon class="mr-8">login</mat-icon>
                  Join The Movement
                </button>
                <!-- <span fxFlex="8px"></span>
                <button fxFlex fxLayoutAlign="center center" mat-flat-button mat-lg-button color="accent"
                  style="color: var(--light-theme); font-weight: 700; font-size: 16px;" class=""
                  (click)="login()">
                  <mat-icon class="mr-8"> store</mat-icon>
                  Login
                </button> -->
              </div>
            </section>




          </mat-card-content>
        </mat-card>
      </div>
    </section>
    <app-home-section align="right" firstTitle="KHMRE - Producer from San Francisco"
      secondTitle="BeatBlending makes illegal sampling unnessecary-">
      <img image class="left-image" src="../../../assets/images/backgrounds/splice5.png" alt="">
    </app-home-section>
    <section fxLayout fxLayoutAlign="space-around center">
      <mat-card class="opportunity-card">
        <mat-card-title>
          <h4 style="text-align: center;">Save Money</h4> 
        </mat-card-title>
        <mat-card-content>
          <h4 class="pl-8 mt-4" style="font-size: 20px; font-weight: 300; text-align: center;">Every Top Quality Sample from BeatBlender do not cost money. They are free to use.</h4>
        </mat-card-content>
      </mat-card>
      <mat-card class="opportunity-card">
        <mat-card-title>
          <h4 style="text-align: center;">Build your Carrer</h4> 
        </mat-card-title>
        <mat-card-content>
          <h4 class="pl-8 mt-4" style="font-size: 20px; font-weight: 300; text-align: center;">When giving your Samples to the Community.</h4>
        </mat-card-content>
      </mat-card>
      <mat-card class="opportunity-card">
        <mat-card-title>
          <h4 style="text-align: center;">Stay Legal when distributing</h4> 
        </mat-card-title>
        <mat-card-content>
          <h4 class="pl-8 mt-4" style="font-size: 20px; font-weight: 300; text-align: center;">Every Sample can be uploaded</h4>
        </mat-card-content>
      </mat-card>
      
    </section>
    <section fxLayout fxLayoutAlign="space-around center">
      <mat-card class="opportunity-card">
        <mat-card-title>
          <h4 style="text-align: center;">Make Money</h4> 
        </mat-card-title>
        <mat-card-content>
          <h4 class="pl-8 mt-4" style="font-size: 20px; font-weight: 300; text-align: center;">Every Top Quality Sample from BeatBlender do not cost money. They are free to use.</h4>
        </mat-card-content>
      </mat-card>
      <mat-card class="opportunity-card">
        <mat-card-title>
          <h4 style="text-align: center;">Find Collaborations</h4> 
        </mat-card-title>
        <mat-card-content>
          <h4 class="pl-8 mt-4" style="font-size: 20px; font-weight: 300; text-align: center;">When giving your Samples to the Community.</h4>
        </mat-card-content>
      </mat-card>
      <mat-card class="opportunity-card">
        <mat-card-title>
          <h4 style="text-align: center;">Spread your Name</h4> 
        </mat-card-title>
        <mat-card-content>
          <h4 class="pl-8 mt-4" style="font-size: 20px; font-weight: 300; text-align: center;">Every Sample can be uploaded</h4>
        </mat-card-content>
      </mat-card>
      
    </section>
    

    

    
    <app-banner color="primary" firstTitle="Come change the way people make music."
    title="Join the BeatBlender Movement." align="left">
    <div fxFlex fxLayout="column" fxLayoutAlign="center center" style="margin: 0 10px 10px 0;">
      <img style="width: 350px; height: 350px; object-fit: cover;"
        src="../../../assets/images/backgrounds/featuresSounds-artists_2x.png" alt="">
      <button mat-raised-button
        style="width: 80%; border-radius: 32px; padding: 8px 32px; font-size: 20px;">Learn More</button>
    </div>
  </app-banner>
    

    <!-- <app-home-section firstTitle="Sakula Mula From Hanoi" style="background: var(--primary-light-color);" secondTitle="'BeatBlending gives artists wings.'">
      <img image class="left-image" src="../../../assets/images/backgrounds/splice6.png" alt="">
    </app-home-section> -->


  </div>

</mat-sidenav-container>


<!-- <div style="padding: 20px;">
        <span style="color: white; font-size: 72px; font-weight: 700; border-radius: 8px; padding: 16px 32px; font-family: 'Lazer84';" class="egret"> <span style="color: var(--primary-color);">B</span>eat<span style="color: var(--accent-color);">B</span>lender</span>
      </div> -->
<!-- <h1 fxFlex style="font-family: 'Lazer84'; font-size: 50px;"> <span
        style="background: var(--accent-color); padding: 4px 8px; color: var(--light-theme); border-top-left-radius: 12px; border-bottom-left-radius: 12px;">Beat</span>
      <span class=""
        style="background: var(--primary-color); color: var(--light-theme); padding: 4px 8px; border-radius: 0px; border-top-right-radius: 12px; border-bottom-right-radius: 12px;">Blender</span>
    </h1>


    <div style=" font-weight: 900; font-size: 25px;
      border-radius: 8px; padding: 8px 16px;">
      <p style="color: var(--light-theme); font-size: 24px;">BeatBlender Producers ...</p>
      <span id="title">
      </span>
    </div>
    <h2>Enter A New Sampling Era</h2>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" class="mb-48">
      <button mat-raised-button mat-lg-button style="background: var(--primary-light-color); font-weight: 700;"
        (click)="goToListen()">Listen Music</button>
      <span fxFlex="8px"></span>
      <a target="_blank">
        <button mat-raised-button mat-lg-button color="accent" style="color: white; font-weight: 700;" class=""
          (click)="goToLicensing()">Sample Market</button>
      </a>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" class="pt-48">
      <a href="http://demos.ui-lib.com/egret-doc/" mat-button color="accent" target="_blank">Documentation</a>
      <a href="https://ui-lib.com/github-access/" mat-button color="warn" target="_blank">GitHub Access</a>
    </div> -->