<mat-sidenav-container fxLayout="row" class="full-width br-8 sidenav-container home-sidenav">

  <!-- <mat-sidenav EgretSideNavToggle class="shop-sidebar" style="border-right: none;">
    <div class="shop-filters-wrap " fxLayout="column" fxLayoutGap="5px">

      <app-sidenav [items]="listenItems" [hasIconMenu]="hasIconTypeMenuItem" [iconMenuTitle]="iconTypeMenuTitle">
      </app-sidenav>
    </div>
  </mat-sidenav> -->
  <!-- <router-outlet></router-outlet> -->
  <!-- <div class="scrollable"> -->
  <div fxLayout="column">


    <section class="home-section section-intro text-center">
      <div class="container landing-container" fxLayout="column">
        <!-- <div style="margin: auto auto auto auto;">
          <span style="font-size: 42px; font-weight: 700;">Your Music Can Create</span> <br>
          <span id="title">
          </span>
        </div> -->

        <mat-card [ngClass.xs]="'landing-card-xs'" class="landing-card" fxLayout="column">
          <mat-card-content fxFlex fxLayout="column">
            <!-- <section> -->
              <span class="m-8"> <span [ngStyle.xs]="{'font-size': '10px'}" [ngStyle.gt-xs]="{'font-size': '14px'}" style="color: var(--body-color); font-size: 16px; font-weight: 300;">WE SHARE MUSIC
                  TO</span> <br> <span [ngStyle.xs]="{'font-size': '18px', 'line-height': '24px'}" [ngStyle.gt-xs]="{'font-size': '36px'}" style="color: var(--accent-color);" id="title">
                </span>
              </span>

              <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" class="">
                <button color="primary" fxFlex fxLayoutAlign="center center" mat-raised-button
                  style="font-weight: 700; font-size: 16px;" (click)="login()">
                  <mat-icon class="mr-8">login</mat-icon>
                  Join The Movement
                </button>
                <!-- <span fxFlex="8px"></span>
                <button fxFlex fxLayoutAlign="center center" mat-flat-button mat-lg-button color="accent"
                  style="color: var(--light-theme); font-weight: 700; font-size: 16px;" class=""
                  (click)="login()">
                  <mat-icon class="mr-8"> store</mat-icon>
                  Login
                </button> -->
              </div>
            <!-- </section> -->




          </mat-card-content>
        </mat-card>
      </div>



    </section>

    <div fxLayout fxLayoutAlign="center center" fxLayoutGap="20px" class="mt-16">
      <app-divider fxFlex size="sm" color="var(--light-theme-accent)"></app-divider>

      <h1 class="text-center" [ngStyle.xs]="{'font-size' : '22px'}" style="font-weight: 300; color: var(--body-color); font-weight: 700;">A Social Free Music Movement</h1>
      <app-divider fxFlex size="sm" color="var(--light-theme-accent)"></app-divider>

    </div>
    <div fxLayout="column"  fxLayoutAlign="center center" class="">
      <p class="text-center py-16" [ngClass.lt-md]="'px-16'" [ngClass.gt-sm]="'px-64'" style="font-size: 18px;">
        BeatBlender is a social & free music community. Artists raise donations by allowing other artists to be creative
        with their work.
      </p>
      <p class="text-center py-16" [ngClass.lt-md]="'px-16'" [ngClass.gt-sm]="'px-64'" style="font-size: 18px;">We hope you become part of our community and whatever you are working on
        ends up being great...</p>

      <!-- <p class="text-center py-16 px-64" style="font-size: 18px;">
        Hi, I'm Max. The Founder of this project.
        I'm happy to introduce you into a <br>
        <strong style="line-height: 80px; font-size: 22px; color: var(--primary-color);">
          Social & Free Music Community</strong> <br>
        We <strong>Raise Donations</strong> by allowing artists to <strong>Be Creative</strong>
      </p>
      <p class="text-center py-16 px-64" style="font-size: 18px; color: var(--accent-color);">
        <strong> We share music for good </strong>
      </p> -->




    </div>
    <!-- <div fxLayoutAlign="start start"
      style="width: 100%; height: 400px; background-image: url(../../../assets/images/backgrounds/window-studio4.jpg); background-position: center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
      
    </div> -->

    <div fxLayout="column">


      <!-- <h1 class="text-center m-0 p-32" style="color: var(--accent-color);">A Social Free Music Movement</h1> -->
      <div fxLayout fxLayoutAlign="center center" fxLayoutGap="20px" class="mt-16">
        <app-divider fxFlex size="sm" color="var(--light-theme-accent)"></app-divider>

        <h3 [ngStyle.xs]="{'font-size' : '20px'}" class="text-center" style="font-weight: 300;">HOW IT WORKS</h3>
        <app-divider fxFlex size="sm" color="var(--light-theme-accent)"></app-divider>

      </div>
      <div fxLayout [fxLayout.lt-md]="'column'" fxLayoutAlign="center center">
        <div fxFlex="50" class="m-16 mr-8">
          <mat-card style="min-height: 400px;" [ngClass.xs]="'m-0'">
            <mat-card-content style="font-size: 20px; line-height: 50px;">
              <div fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="center center">
                <!-- <img style="width: 80px; height: 80px; object-fit: cover; border-radius: 8px;"
                  src="../../../assets/images/svg-icons/share.png" alt=""> -->
                <div fxLayout fxLayoutGap="10px" fxLayoutAlign="center center" class="mt-16"
                  style="width: 80px; height: 80px;">
                  <!-- <app-divider fxFlex size="sm" color="var(--primr)"></app-divider> -->
                  <div class="" #soundBar *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]"
                    style="width: 8px; border: 2px solid black; border-radius: 8px;">

                  </div>
                  <!-- <app-divider fxFlex size="sm" color="var(--light-theme-accent)"></app-divider> -->



                </div>
                <div fxLayout="column">

                  <mat-card-title class="text-center"> <span style="font-weight: 300;">Copyright Owners</span><br>
                    <span [ngStyle.xs]="{'font-size' : '30px'}" style="font-weight: 700; font-size: 36px; color: var(--primary-color);">Donate Free Music<span
                        style="color: var(--accent-color);"></span></span>
                  </mat-card-title>
                  <p fxFlex class="text-center">

                    Artist that upload music to us allow other artists to use the material in a modified way for new
                    artwork. Similiar to Creative Commons Licenses.
                  </p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <!-- <div fxFlex="33">
          <mat-card class="p-0">
            <mat-card-content style="font-size: 20px; line-height: 50px;">
              <div fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="center center">
                <img style="width: 80px; height: 80px; object-fit: cover; border-radius: 8px;"
                  src="../../../assets/images/svg-icons/wav.png" alt="">
                <div fxLayout="column">

                  <mat-card-title class="text-center"> <span style="font-weight: 300;">Creators Create</span><br> <span
                      style="font-weight: 700; font-size: 36px; color: var(--primary-color);">New <span
                        style="color: var(--accent-color);">Sounds</span></span></mat-card-title>
                  <p fxFlex class="text-center">
                    I've made a selection of over 200 tracks, some unreleased, some from my back catalogue and new
                    releases, available to licence for free via a simple online application system. </p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div> -->
        <div fxFlex="50" class="m-16 ml-8">
          <mat-card style="min-height: 400px;" [ngClass.xs]="'m-0'">
            <mat-card-content style="font-size: 20px; line-height: 50px;">
              <div fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="center center">
                <img style="width: 80px; height: 80px; object-fit: cover; border-radius: 8px;"
                  src="../../../assets/images/svg-icons/solidarity.png" alt="">
                <div fxLayout="column">

                  <mat-card-title class="text-center"> <span style="font-weight: 300;">Music Users (Remixer)</span><br>
                    <span [ngStyle.xs]="{'font-size' : '30px'}" style="font-weight: 700; font-size: 36px; color: var(--primary-color);"> <span
                        style="color: var(--accent-color);">Donate Streaming Money</span></span>
                  </mat-card-title>
                  <p fxFlex class="text-center">
                    Artist that create the new artwork instead agree that the incoming streaming money will be donated
                    to selected charity projects via the BeatBlender Company.
                    <!-- By Using BeatBlender artists do not only contribute to a free music movement they also contribute to social projects. -->
                  </p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
      <div fxLayout fxLayoutAlign="center center" fxLayoutGap="20px" class="mt-16">
        <app-divider fxFlex size="sm" color="var(--light-theme-accent)"></app-divider>

        <h3 class="text-center" style="font-weight: 300;">Donate Music</h3>
        <app-divider fxFlex size="sm" color="var(--light-theme-accent)"></app-divider>

      </div>
      <p class="text-center py-16" [ngClass.lt-md]="'px-16'" [ngClass.gt-sm]="'px-64'">
        With us you don't donate money. You
        <a routerLink="/profile/upload-audio" class="hypertext">
          <strong>donate music</strong>.
        </a>

      </p>
      <p class="text-center py-16" [ngClass.lt-md]="'px-16'" [ngClass.gt-sm]="'px-64'">
        BeatBlender collects the streaming money of the songs being created from music that our community uploads and
        directs it to
        <a href="#" class="hypertext">
          <strong>
            careful selected charity projects
          </strong>
        </a>.



      </p>
      <p class="text-center py-16" [ngClass.lt-md]="'px-16'" [ngClass.gt-sm]="'px-64'">
        No monthly payments required to be part of our community. Its all about free music culture.
      </p>
    </div>
    <!-- <section fxLayout fxLayoutAlign="space-around center">
      <mat-card class="opportunity-card" fxLayoutAlign="center center">
        <p style="">1. Upload Music To <br> <span style="color: var(--primary-color); font-weight: 700;">Beat<span
            style="color: var(--accent-color);">Blender</span></span></p>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
      <mat-card class="opportunity-card" fxLayoutAlign="center center">
        <p> 2. Community Creates <span style="color: var(--accent-color); font-weight: 700;"> Remixes</span></p>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
      <mat-card class="opportunity-card" fxLayoutAlign="center center">
        <mat-card-title>
          <p>3. Streaming Revenue Gets<br> <span style="color: var(--primary-color); font-weight: 700;">Donated</span></p>
        </mat-card-title>
      </mat-card>

    </section> -->

    <!-- secondTitle="Producing Free Remixes Now Creates A Social Impact" -->
    <div fxLayoutAlign="start start"
      style="width: 100%; height: 400px; background-image: url(../../../assets/images/backgrounds/window-studio5.jpg); background-position: center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
      <!-- <mat-card style="opacity: 1; padding: 20px 80px;" class="">
      <mat-card-title class="text-center"> <span style="font-weight: 300;">All Samples Are For</span> <br> <span style="font-weight: 700; font-size: 36px; color: var(--primary-color);">Free <span style="color: var(--accent-color);">Use</span></span></mat-card-title>
      </mat-card> -->
    </div>

    <!-- <h1 class="text-center">Why Use BeatBlender Samples?</h1> -->
    <section fxFlex fxLayout="row wrap">
      <div fxLayout="column" fxFlex="100">

        <!-- <div fxLayout fxLayoutAlign="center center" fxLayoutGap="20px" class="mt-16">
          <app-divider fxFlex size="sm" color="var(--light-theme-accent)"></app-divider>

          <h1 class="text-center" style="font-weight: 300;">Do we want money from you?</h1>
          <app-divider fxFlex size="sm" color="var(--light-theme-accent)"></app-divider>

        </div> -->






        <div fxLayout fxLayoutAlign="center center" fxLayoutGap="20px" class="mt-16">
          <app-divider fxFlex size="sm" color="var(--light-theme-accent)"></app-divider>

          <h3 class="text-center" style="font-weight: 300;">CONTRIBUTE FOR GOOD REASONS</h3>
          <app-divider fxFlex size="sm" color="var(--light-theme-accent)"></app-divider>

        </div>
        <!-- <div>
          <mat-card-content style="font-size: 20px; line-height: 50px;">
            <div fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="center center">
              
              <div fxLayout="column">
                <div style="opacity: 1; padding: 20px 80px; background: var(--light-theme);">
                  <mat-card-title class="text-center"> <span style="font-weight: 300;">All Samples Are For</span>
                    <br><span style="font-weight: 700; font-size: 72px; line-height: 100px;"> 100% <span
                        style="color: var(--primary-color);">Free </span> <span
                        style="color: var(--accent-color);">Use</span></span></mat-card-title>
                </div>
                
                <p fxFlex class="text-center">
                  We are a new kind of free music platform. Sharing your music on BeatBlender means that streaming income 
                </p>
              </div>
            </div>
          </mat-card-content>
        </div> -->


      </div>
      <div fxLayout [fxLayout.lt-md]="'column'">
        <div fxFlex="50" style="">
          <mat-card>
            <mat-card-content style="font-size: 20px; line-height: 50px;">
              <div fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="center center">
                <!-- <img style="width: 500px; height: 200px; object-fit: cover; border-radius: 8px;"
                  src="../../../assets/images/backgrounds/happy-listening.jpg" alt=""> -->
                <div fxLayout="column">
  
                  <mat-card-title class="text-center"> <span style="font-weight: 300;">Your Music can</span><br>
                    <span [ngStyle.xs]="{'font-size' : '30px'}" style="font-weight: 700; font-size: 36px; color: var(--primary-color);">Create Substantial Value<span
                        style="color: var(--accent-color);"></span></span>
                  </mat-card-title>
                  <p fxFlex class="text-center">
                    Our Community is sharing music for good and inspiration. After you created a new track that contains
                    samples from BeatBlender you can release it to all major streaming services . BeatBlender collects the
                    streaming revenues and forwards them to charity.
                  </p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="50" style="">
          <mat-card>
            <mat-card-content style="font-size: 20px; line-height: 50px;">
              <div fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="center center">
                <!-- <img style="width: 500px; height: 200px; object-fit: cover; border-radius: 8px;"
                  src="../../../assets/images/backgrounds/window-studio.jpg" alt=""> -->
                <div fxLayout="column">
  
                  <mat-card-title class="text-center"> <span style="font-weight: 300;">Be able to</span><br> <span
                    [ngStyle.xs]="{'font-size' : '30px'}"   style="font-weight: 700; font-size: 36px; color: var(--primary-color);"><span
                        style="color: var(--accent-color);">Trace Your Influence</span></span></mat-card-title>
                  <p fxFlex class="text-center">
                    Stay in Control of your Copyrights. Whenever new artwork is released containing your sound it must be
                    registered with BeatBlender. This means that copyright owners can see the resulting artwork that your
                    sound has inspired.
                  </p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
      <!-- <div fxFlex="33" style="">
        <mat-card>
          <mat-card-content style="font-size: 20px; line-height: 50px;">
            <div fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="center center">
              
              <div fxLayout="column">

                <mat-card-title class="text-center"> <span style="font-weight: 300;">Create From</span><br> <span
                    style="font-weight: 700; font-size: 36px; color: var(--primary-color);">Endless <span
                      style="color: var(--accent-color);">Ressources</span></span></mat-card-title>
                <p fxFlex class="text-center">
                  You want to use multiple samples? No Problem. There are no limits on sample use from our platform.
                </p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div> -->
      
      <!-- <div fxFlex="33">
        <mat-card >
          <mat-card-title>Free To Use</mat-card-title>
          <mat-card-content>
            All Sampeles from our platform are free to use and dont require a payed subscription. 
          </mat-card-content>
        </mat-card>

      </div>
      <div fxFlex="33">
        <mat-card>
          <mat-card-title>Endless Resources</mat-card-title>
          <mat-card-content>
            What's so special about BeatBlender are endless combination possibilities. No matter if you want to use 1 or 100 samples. There are no limits in freedom and creativity.  
          </mat-card-content>
        </mat-card>

      </div> -->

    </section>
    <div fxLayoutAlign="start start"
      style="width: 100%; height: 400px; background-image: url(../../../assets/images/backgrounds/window-studio3.jpg); background-position: center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
      <!-- <mat-card style="opacity: 1; padding: 20px 80px;" class="">
      <mat-card-title class="text-center"> <span style="font-weight: 300;">All Samples Are For</span> <br> <span style="font-weight: 700; font-size: 36px; color: var(--primary-color);">Free <span style="color: var(--accent-color);">Use</span></span></mat-card-title>
      </mat-card> -->
    </div>

    <div fxLayout fxLayoutAlign="center center" fxLayoutGap="20px" class="mt-16">
      <app-divider fxFlex size="sm" color="var(--light-theme-accent)"></app-divider>

      <h3 class="text-center" style="font-weight: 300;">DISTRIBUTE</h3>
      <app-divider fxFlex size="sm" color="var(--light-theme-accent)"></app-divider>

    </div>

    <p class="text-center py-16" [ngClass.lt-md]="'px-16'" [ngClass.gt-sm]="'px-64'">
      Our community strives for an easy and uncompicated licensing process. After you <a [routerLink]="['/licensing/register-track']" class="hypertext">registerd your track</a> at BeatBlender you can start distributing your sound on all available streaming services 
    </p>
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px" class="py-8">
      <mat-card style="width: 80px; height: 80px; object-fit: cover;" class="streaming-service-card mb-8 br-8"
        *ngFor="let streamingService of streamingServiceList">
        <img [src]="'../../../assets/images/brand-logos/' + streamingService.path" alt="">
      </mat-card>
      <br>
      <span>+165 Stores</span>
    </div>
    <!-- <p class="text-center py-16" [ngClass.lt-md]="'px-16'" [ngClass.gt-sm]="'px-64'">
      Dont forget that your license will only be active if you <a href="/licensing/register-track"
        class="hypertext">register your track via BeatBlender</a> before distributing.
    </p>
 -->

    <div fxLayoutAlign="start start"
      style="width: 100%; height: 400px; background-image: url(../../../assets/images/backgrounds/window-studio2.jpg); background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;">
      <!-- <mat-card style="opacity: 1; padding: 20px 80px;" class="">
    <mat-card-title class="text-center"> <span style="font-weight: 300;">All Samples Are For</span> <br> <span style="font-weight: 700; font-size: 36px; color: var(--primary-color);">Free <span style="color: var(--accent-color);">Use</span></span></mat-card-title>
    </mat-card> -->
    </div>


    <div fxLayout fxLayoutAlign="center center" fxLayoutGap="20px" class="mt-16">
      <app-divider fxFlex size="sm" color="var(--light-theme-accent)"></app-divider>

      <h3 class="text-center" style="font-weight: 300;">BEGIN TO CREATE</h3>
      <app-divider fxFlex size="sm" color="var(--light-theme-accent)"></app-divider>

    </div>
    <p class="text-center py-16" [ngClass.lt-md]="'px-16'" [ngClass.gt-sm]="'px-64'">
      To begin just browse the <a class="hypertext" routerLink="/sample-market">catalog</a>. Once you have found the
      right piece just click the download icon and fill in a simple application telling us a bit about yourself and the
      way you are using the music. You will be directed to your personal download area to start creating new work from
      it.
    </p>

   
    <div fxLayoutAlign="start start"
      style="width: 100%; height: 400px; background-image: url(../../../assets/images/backgrounds/window-studio6.jpg); background-position: center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
      <!-- <mat-card style="opacity: 1; padding: 20px 80px;" class="">
    <mat-card-title class="text-center"> <span style="font-weight: 300;">All Samples Are For</span> <br> <span style="font-weight: 700; font-size: 36px; color: var(--primary-color);">Free <span style="color: var(--accent-color);">Use</span></span></mat-card-title>
    </mat-card> -->
    </div>

    <app-home-section class="my-32" align="left" firstTitle="">
      <div fxFlex fxLayout fxLayoutAlign="center center" image class="pl-32">
        <div fxLayout fxLayoutAlign="center center" style="width: 100%; height: 350px; overflow: hidden;">
          <!-- <img class="round-artist-image mat-elevation-z1"
            style="border-radius: 50%; border: 2px solid var(--light-theme);"
            src="../../../assets/images/backgrounds/me.jpg" alt=""> -->
        </div>

      </div>
      <div secondtitle fxLayout="column" fxLayoutAlign="center center">
        <!-- <q style="font-size: 36px; text-align: center;">
          <span class="text-center second-title" style="font-weight: 300;">
            Producing <span style="font-weight: 900; color: var(--accent-color);">Free Remixes</span> Now Creates A
            <span style="color: var(--primary-color); font-weight: 900;">Social Impact</span>
          </span>
        </q> -->
        <q class="text-center second-title py-32" style="font-weight: 300; font-size: 22px;">
          If there is something to be changed in this world, then it can only happen through music.
        </q> <br>
        <figcaption>-JIMI HENDRIX</figcaption>
      </div>

    </app-home-section>

    <div fxLayout fxLayoutAlign="center center" class="p-32">
      <button color="primary" fxLayoutAlign="center center" mat-raised-button mat-lg-button
        style="font-weight: 700; font-size: 16px; width: 300px;" (click)="login()">
        <mat-icon class="mr-8">login</mat-icon>
        Join The Movement
      </button>

    </div>






    <!-- <section fxLayout fxLayoutAlign="space-around center">
      <mat-card class="opportunity-card">
        <mat-card-title>
          <h4 style="text-align: center;">1. Upload Track Via BeatBlender</h4> 
        </mat-card-title>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
      <mat-card class="opportunity-card">
        <mat-card-title>
          <h4 style="text-align: center;">2. Community Creates Remixes</h4> 
        </mat-card-title>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
      <mat-card class="opportunity-card">
        <mat-card-title>
          <h4 style="text-align: center;">3. Streaming Money Gets Donated To Charity Projects</h4> 
        </mat-card-title>
        
      </mat-card>
      
    </section> -->
    <!-- <section fxLayout fxLayoutAlign="space-around center">
      <mat-card class="opportunity-card">
        <mat-card-title>
          <h4 style="text-align: center;">Make Money</h4> 
        </mat-card-title>
        <mat-card-content>
          <h4 class="pl-8 mt-4" style="font-size: 20px; font-weight: 300; text-align: center;">Every Top Quality Sample from BeatBlender do not cost money. They are free to use.</h4>
        </mat-card-content>
      </mat-card>
      <mat-card class="opportunity-card">
        <mat-card-title>
          <h4 style="text-align: center;">Find Collaborations</h4> 
        </mat-card-title>
        <mat-card-content>
          <h4 class="pl-8 mt-4" style="font-size: 20px; font-weight: 300; text-align: center;">When giving your Samples to the Community.</h4>
        </mat-card-content>
      </mat-card>
      <mat-card class="opportunity-card">
        <mat-card-title>
          <h4 style="text-align: center;">Spread your Name</h4> 
        </mat-card-title>
        <mat-card-content>
          <h4 class="pl-8 mt-4" style="font-size: 20px; font-weight: 300; text-align: center;">Every Sample can be uploaded</h4>
        </mat-card-content>
      </mat-card>
      
    </section> -->





    <!-- <app-banner color="primary" firstTitle="Change The Way Artists Share Value" title="Become A BeatBlender"
      align="left">
      <div fxFlex fxLayout="column" fxLayoutAlign="center center" style="margin: 0 10px 10px 0;">
        <img style="width: 350px; height: 350px; object-fit: cover;"
          src="../../../assets/images/backgrounds/featuresSounds-artists_2x.png" alt="">
        <button mat-raised-button routerLink="/about/introduction"
          style="width: 80%; border-radius: 32px; padding: 8px 32px; font-size: 20px;">Learn More</button>
      </div>
    </app-banner> -->


    <!-- <app-home-section firstTitle="Sakula Mula From Hanoi" style="background: var(--primary-light-color);" secondTitle="'BeatBlending gives artists wings.'">
      <img image class="left-image" src="../../../assets/images/backgrounds/splice6.png" alt="">
    </app-home-section> -->


  </div>

</mat-sidenav-container>


<!-- <div style="padding: 20px;">
        <span style="color: white; font-size: 72px; font-weight: 700; border-radius: 8px; padding: 16px 32px; font-family: 'Lazer84';" class="egret"> <span style="color: var(--primary-color);">B</span>eat<span style="color: var(--accent-color);">B</span>lender</span>
      </div> -->
<!-- <h1 fxFlex style="font-family: 'Lazer84'; font-size: 50px;"> <span
        style="background: var(--accent-color); padding: 4px 8px; color: var(--light-theme); border-top-left-radius: 12px; border-bottom-left-radius: 12px;">Beat</span>
      <span class=""
        style="background: var(--primary-color); color: var(--light-theme); padding: 4px 8px; border-radius: 0px; border-top-right-radius: 12px; border-bottom-right-radius: 12px;">Blender</span>
    </h1>


    <div style=" font-weight: 900; font-size: 25px;
      border-radius: 8px; padding: 8px 16px;">
      <p style="color: var(--light-theme); font-size: 24px;">BeatBlender Producers ...</p>
      <span id="title">
      </span>
    </div>
    <h2>Enter A New Sampling Era</h2>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" class="mb-48">
      <button mat-raised-button mat-lg-button style="background: var(--primary-light-color); font-weight: 700;"
        (click)="goToListen()">Listen Music</button>
      <span fxFlex="8px"></span>
      <a target="_blank">
        <button mat-raised-button mat-lg-button color="accent" style="color: white; font-weight: 700;" class=""
          (click)="goToLicensing()">Sample Market</button>
      </a>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" class="pt-48">
      <a href="http://demos.ui-lib.com/egret-doc/" mat-button color="accent" target="_blank">Documentation</a>
      <a href="https://ui-lib.com/github-access/" mat-button color="warn" target="_blank">GitHub Access</a>
    </div> -->