<section class="p-16">
  <form [formGroup]="fileItemForm">
    <div fxLayout="column">
      <div fxLayout fxLayoutAlign="center center" fxLayoutGap="20px" class="">
        <app-divider fxFlex size="sm" color="var(--light-theme-accent)"></app-divider>

        <h3 class="text-center" style="font-weight: 300;">ARTIST NAME</h3>
        <app-divider fxFlex size="sm" color="var(--light-theme-accent)"></app-divider>

      </div>
      <p class="text-center pb-16" [ngClass.lt-md]="'px-16'" [ngClass.gt-sm]="'px-64'">
        Set your artist name which you are using on streaming services.
      </p>
      <div fxLayout [fxLayout.xs]="'column'" fxLayoutAlign="space-between center" class="px-8">
        <mat-form-field style="width: 60%;">
          <mat-label style="font-weight: 300;">Choose Your Artist Name</mat-label>
          <input
          #artistNameInput 
          formControlName="artistName"
          matInput
          name="name"
          placeholder="Your Artist Name"
          autocomplete="off"
          value="">
        </mat-form-field>
        <button [disabled]="!fileItemForm.controls['artistName'].valid || fileItemForm.controls['artistName'].value === currentArtistName" mat-raised-button color="primary" (click)="changeArtistName()">
          Change Artist Name
        </button>
      </div>

    </div>
    <div class="mb-16 mt-16">
      <div fxLayout fxLayoutAlign="center center" fxLayoutGap="20px" class="mt-16">
        <app-divider fxFlex size="sm" color="var(--light-theme-accent)"></app-divider>

        <h3 class="text-center" style="font-weight: 300;">PROFILE PICTURE</h3>
        <app-divider fxFlex size="sm" color="var(--light-theme-accent)"></app-divider>

      </div>
      <div fxLayout fxLayoutAlign="center center">
        <input type="file" ng2FileSelect [uploader]="uploader" />

      </div>
    </div>

    <div class="mb-16">
      <div ng2FileDrop
      [ngClass]="{'dz-file-over': hasBaseDropZoneOver}"
      [uploader]="uploader"
      (fileOver)="fileOverBase($event)"
      class="fileupload-drop-zone">
      Drop png/jpeg file here
      </div>
    </div>
    <table *ngIf="uploader.queue.length" class="default-table mb-24" style="width: 100%">
      <thead>
        <tr>
          <th width="30%">Name</th>
          <th>Size</th>
          <th>Progress</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="uploader.queue.length; else tableNoData">
        <tr *ngFor="let item of uploader.queue">
          <td><span fxLayout="row">
              <mat-icon class="mr-8" inline="true">insert_drive_file</mat-icon>{{ item?.file?.name }}
            </span></td>
          <td>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
          <td>
            <div class="progress" style="margin-bottom: 0;">
              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
              <mat-progress-bar class="" color="primary" mode="determinate" [value]="item.progress">
              </mat-progress-bar>
            </div>
          </td>
          <td class="">
            <mat-icon *ngIf="item.isSuccess" color="primary">check</mat-icon>
            <mat-icon *ngIf="item.isCancel" color="accent">cancel</mat-icon>
            <mat-icon *ngIf="item.isError" color="warn">error</mat-icon>
          </td>
          <td nowrap>
            <button mat-raised-button color="primary" class="mx-4" (click)="item.upload()"
              [disabled]="item.isReady || item.isUploading || item.isSuccess || !fileItemForm.controls['image'].controls['file'].valid">Upload</button>
            <button mat-raised-button color="accent" class="mx-4" (click)="item.cancel()"
              [disabled]="!item.isUploading">Cancel</button>
  
            <button mat-raised-button color="warn" class="mx-4" (click)="item.remove()">Remove</button>
          </td>
        </tr>
      </tbody>
      <ng-template #tableNoData>
        <p [ngStyle]="{padding: '0 1.2rem'}">No samples added yet.</p>
      </ng-template>
    </table>
    <!-- <mat-form-field class="full-width">
        <input
        matInput
        name="title"
        placeholder="Title"
        value="">
      </mat-form-field>
    <mat-form-field class="full-width">
      <input
      matInput
      name="email"
      placeholder="Email"
      value="">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input
      matInput
      name="phone"
      placeholder="Phone"
      value="">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input
      matInput
      name="address"
      placeholder="Adresss"
      value="">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input
      matInput
      name="website"
      placeholder="Website"
      value="">
    </mat-form-field> -->
    <!-- <button mat-raised-button color="primary">Save</button> -->
  </form>
</section>

