<div fxFlex fxLayout="column" class="my-licenses-container">


  <!-- <h1>My Basic Licenses</h1> -->
  <h1 class="mb-16">My <span style="color: var(--primary-color);">S</span>ample <span
      style="color: var(--accent-color);">C</span>ollection</h1>
  <!-- <mat-divider></mat-divider> -->
      <p class="py-8">Overview and manage all your Basic Licenses. Basic Licenses enbale you
    without having payed anything yet to use the sample commercially in your own produtions.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas quidem placeat unde ut rem vitae error
    temporibus, ad exercitationem accusantium!
  </p>
  <div class="product-container" fxLayout="row wrap" fxLayoutAlign="start start"
      [ngClass]="{'list-view': viewMode === 'list-view'}">
      <!-- Product Box -->
      <ng-container *ngIf="samples?.length <= 0 && samples != null"; else product>
        <div fxFlex fxLayoutAlign="center">
          <span class="fs-24">No samples match your request.</span>
        </div>
      </ng-container>
      <ng-container #product>
        <!-- | paginate: { itemsPerPage: pageSize, currentPage: pageNo, totalItems: count } -->
        <div fxLayout="row" class="product-wrap"
          *ngFor="let sample of samples; let i = index;"
          [@animate]="{value:'*',params:{delay: (i*300)+'ms', y:'300px'}}"
          >
          <!-- [@animate]="{value:'*',params:{delay: (i*50)+'ms', y:'50px'}}" -->
          <!-- [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'100px'}}" -->
          <div fxLayout="column" class="product-inner default-bg mx-8 my-16 full-width">
            <!-- <div *ngIf="product?.badge?.text" class="product-badge mat-elevation-z7" [ngStyle]="{background: product?.badge?.color || '#f44336'}">
                <span>{{product?.badge?.text}}</span>
              </div> -->
            <app-audio-panel [audioUnit]="sample?.audioUnit" type="sample" buttonText="Download" (clickEvent)="downloadAudioFile(sample)"></app-audio-panel>
            
            <!-- Visible when viewMode === list-view -->
            <div class="more-info-wrap p-16" *ngIf="viewMode === 'list-view'">
              <div class="more-info">
                <div class="more-actions mb-16">
                  <div class="product-rating">
                    <star-rating [starType]="'svg'" [readOnly]="true" [size]="'medium'" [staticColor]="'ok'"
                      [rating]="4.63"></star-rating>
                    <small class="text-muted">(140)</small>
                  </div>
                  <span fxFlex></span>
                  <button mat-icon-button>
                    <mat-icon>playlist_add</mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon>favorite</mat-icon>
                  </button>
                </div>

                <div>
                  <ul>
                    <li>
                      <mat-icon>check</mat-icon> Heavy duty
                    </li>
                    <li>
                      <mat-icon>check</mat-icon> Water resistance
                    </li>
                    <li>
                      <mat-icon>check</mat-icon> Clean design
                    </li>
                    <li>
                      <mat-icon>check</mat-icon> High quality raw materials
                    </li>
                  </ul>
                </div>

              </div>
            </div>

          </div>
        </div>
      </ng-container>

      <!-- <pagination-controls (pageChange)="currentPage = $event"></pagination-controls> -->
      <!-- <div class="products-pagination" *ngIf="count > pageSize">
        <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
      </div> -->
    </div>





















</div>