.references {
    height: fit-content;
    background: transparent;
    width: 100%;
    .content {
        max-width: 1400px;
        margin: 0 16px 16px 16px;
        width: 100%;
       .left-footer {
        // background: red;
       }

       .middle-footer {
           .ref-column {
               padding-top: 100px;
               dt {
                   font-size: 24px;
                   color: var(--body-color); 
                   margin: 0 0 20px 0;
                   font-weight: 700;
               }
               dd {
                //    margin: 0;
                font-size: 18px;
                   margin: 0 0 20px 0;
                   font-weight: 300;
               }
           }

       }

       .right-footer {
        .link-button {
            width: 80px;
            height: 80px;
            border-radius: 8px;
        }
       }
    }

    .bottom-row {
        width: fit-content;
        // margin-bottom: 120px;    
        .hypertext {
            font-size: 18px;

        }
        
    }


}