<div class="header-topnav" style="background: var(--light-theme-accent);">
  <div class="container" fxLayoutAlign="center center">
    <mat-toolbar class="topnav px-0" style="max-width: 1400px;">
      <button 
        mat-icon-button 
        class="ml-16" 
        (click)="toggleSidenav()" 
        fxShow [fxHide.gt-sm]="true">
          <mat-icon>menu</mat-icon>
        </button>
      <!-- App Logo -->
      <!-- <mat-icon svgIcon="logo" style="width: 50px; height: 50px;"></mat-icon> -->
      <div routerLink="/home" fxLayout="row" fxLayoutAlign="center center" class="logo-container" style="border-radius: 8px; height: 85%; border: 2px solid var(--light-theme-accent); cursor: pointer; outline: none;">
        <!-- <div style="width: 60px; height: 60px;">
          <mat-icon inline="true" svgIcon="logo-bars" style="font-weight: 700;" color="primary"></mat-icon> 
        </div> -->
        <div fxLayout="column" style="color: var(--accent-color);" fxLayoutAlign="center" class="topbar-branding mt-8">
          <h1 fxFlex style=""> <span style="background: var(--accent-color); padding: 4px 16px; color: var(--light-theme); border-top-left-radius: 4px; border-bottom-left-radius: 4px; font-weight: 900;">Beat</span>  <span class="" style="background: var(--primary-color); color: var(--light-theme); padding: 4px 8px; border-radius: 0px; border-top-right-radius: 4px; border-bottom-right-radius:4px; font-weight: 900;">Blender</span> <span class="ml-8 mb-auto" style="transform: translateY(-30px);"></span> </h1>
          <!-- <h4  class="ml-8" style="color: var(--body-color); font-size: 16px; font-weight: 300; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Sample Sharing Culture.</h4> -->
          <!-- <img src="assets/images/egret.png" alt="" class="app-logo"> -->
        </div>
        
      </div>
      <!-- <div class="tiktok"></div> -->

      <!-- <ul class="menu p-0" *ngIf="!layoutConf.isMobile">
        <li *ngFor="let item of menuItems; let i = index;">
          <div *ngIf="item.type !== 'separator'" routerLinkActive="open">
            <a matRipple routerLink="/{{item.state}}" *ngIf="item.type === 'link'">
              <mat-icon>{{item.icon}}</mat-icon> 
              {{item.name | translate}}
            </a>
            <div *ngIf="item.type === 'dropDown'" fxLayoutAlign="center center">
              <label matRipple for="drop-{{i}}" class="toggle"><mat-icon>{{item.icon}}</mat-icon> {{item.name | translate}}</label>
              <a mat-flat-button color="primary" class="menu-item" style="z-index: 2;"><mat-icon>{{item.icon}}</mat-icon> {{item.name | translate}}</a>
              <input type="checkbox" id="drop-{{i}}" />
              <ul style="z-index: 1;">
                <li *ngFor="let itemLvL2 of item.sub; let j = index;" routerLinkActive="open">
                  <a matRipple fxLayout="row" fxLayoutAlign="center center" routerLink="{{item.state ? '/'+item.state : ''}}/{{itemLvL2.state}}" 
                  *ngIf="itemLvL2.type !== 'dropDown'">
                    <mat-icon *ngIf="itemLvL2.icon">{{itemLvL2.icon}}</mat-icon>  
                    {{itemLvL2.name | translate}}
                  </a>
                  
                  <div *ngIf="itemLvL2.type === 'dropDown'">
                    <label matRipple for="drop-{{i}}{{j}}" class="toggle">{{itemLvL2.name | translate}}</label>
                    <a matRipple><mat-icon *ngIf="itemLvL2.icon">{{itemLvL2.icon}}</mat-icon>  {{itemLvL2.name | translate}}</a>
                    <input type="checkbox" id="drop-{{i}}{{j}}" />
                    <ul>
                      <li *ngFor="let itemLvL3 of itemLvL2.sub" routerLinkActive="open">
                        <a matRipple routerLink="{{item.state ? '/'+item.state : ''}}{{itemLvL2.state ? '/'+itemLvL2.state : ''}}/{{itemLvL3.state}}">
                          <mat-icon *ngIf="itemLvL3.icon">{{itemLvL3.icon}}</mat-icon>
                          {{itemLvL3.name | translate}}
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul> -->
        <div fxFlex fxLayout class="pl-32 ml-32 full-height">
          <!-- <button  mat-button class="nav-button">About</button>
          <button routerLink="/profile/overview" mat-button class="nav-button">Dashboard</button>
          <button routerLink="/sample-market" mat-button class="nav-button">Sample Markets</button>
          <button mat-button class="nav-button">Licenses</button> -->
          
          <app-quick-access-menu fxShow [fxHide.lt-md]="true" class="quick-access-menu ml-auto mr-32"></app-quick-access-menu>
        </div>

        <!-- End Navigation -->
        
        <!-- Language Switcher -->
        
        
        <section fxLayout="row" fxLayoutAlign="center center" style="background: var(--light-theme-accent); border-radius: 4px; height: 50%;">
        <!-- <button *ngIf="isAuth()" 
        mat-icon-button
        matTooltip="Notifications" 
        (click)="toggleNotific()"
        [style.overflow]="'visible'" 
        class="topbar-button-right">
          <mat-icon>notifications</mat-icon>
          <span class="notification-number mat-bg-warn">3</span>
        </button> -->
        <button class="login-button" fxFlex *ngIf="!isAuth()" color="accent" mat-flat-button (click)="login()" style="">
          Join Us
        </button>
        <a *ngIf="isAuth()" fxLayout="row" class="profile-menu-trigger full-height px-16" [matMenuTriggerFor]="accountMenu"
        style="position: relative; width: 100px; height: 78px;"
        >
      
          <!-- <div fxLayout="column" class="trigger-text-container py-2 px-8">
            <span class="fs-12 lh-12 mt-auto" style="font-family: 'Lazer84';">{{getRole()}}</span>
            <span class="fs-12 lh-12 mb-auto">Karma-Points: {{userData.artist.lep}} <i><strong>LEP</strong></i></span>
          </div> -->
          <div fxLayout="column" fxFlex="48px" fxLayoutAlign="center center" style="position: absolute; top: 5px; left: 0;">
            <img #artistImage class="mat-elevation-z1" alt="" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover; border: 2px solid var(--light-theme-accent);"> 
            <span style="font-weight: 300; font-size: 12px; line-height: 15px;">{{userData?.artistAlias?.artistName}}</span>
          </div>
        </a>
        <mat-menu #accountMenu="matMenu">
          <button mat-menu-item [routerLink]="['/profile/overview']">
            <mat-icon>account_box</mat-icon>
            <span>Account</span>
          </button>
         
          <button mat-menu-item (click)="logoff()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Sign out</span>
          </button>
        </mat-menu>
        <!-- <button 
        mat-icon-button 
        class="mr-16" 
        (click)="toggleSidenav()" 
        fxShow [fxHide.gt-sm]="true">
          <mat-icon>menu</mat-icon>
        </button> -->
      </section>

    </mat-toolbar>
  </div>
  <!-- <div style="background: var(--light-theme-accent);">
    <app-quick-access-menu fxShow [fxHide.gt-md]="true" class="quick-access-menu ml-auto mr-32"></app-quick-access-menu>
  
  </div> -->
</div>
