<div fxLayout="column" style="background: var(--light-theme); border-radius: 8px;">
  <app-heading class="mt-16" title="Sample Details" subTitle="See who remixed and influenced this Sample." [breadcrumbs]=""></app-heading>
  <div fxLayout="column" fxLayoutGap="16px" style="min-height: 1200px; width: 100%;">
    
    <div fxLayout fxLayoutAlign="start start" class="full-width">
      <div fxFlex="50" fxLayout="column">
        <!-- <app-sub-heading title="Sample"></app-sub-heading> -->
        <mat-card fxLayout class="">
          <div fxLayout="column" class="full-width">
            <!-- <h2 class="pl-8">Sample Detail</h2> -->
            <app-audio-panel class="full-width" [audioUnit]="sample?.audioUnit" type="sample"
              (clickEvent)="redirectToTermsAndConditions(sample)"></app-audio-panel>
          </div>
          <!-- <h2>MixedIn Samples</h2> -->
      
        </mat-card>
  
      </div>
      <div fxFlex="50" fxLayout="column" fxLayoutAlign="center start" class="pt-16">
        <div class="full-width pr-8" fxLayout="column" fxLayoutAlign="start center">
          <app-sub-heading class="full-width" title="Copyright Owners"></app-sub-heading>
          <mat-card fxLayout fxLayoutAlign="start center" fxLayoutGap="30px" class="artist-card full-width">
            <img src="../../../../assets/images/frau.jpg" alt="" style="width: 60px; height: 60px; border-radius: 50%; object-fit: cover;">
            <!-- <app-heading class="" title="Benjamin Kliemann" size="sm" subTitle="Creator" [breadcrumbs]=""></app-heading> -->
            <div fxFlex fxLayout="column" fxLayoutAlign="center center">
              <h3 class="m-0">Bonnie M.</h3>
              <h6 class="m-0" style="color: var(--primary-color);">Songwriter</h6>
            </div>
          </mat-card>
          <mat-card fxLayout fxLayoutAlign="start center" fxLayoutGap="30px" class="artist-card full-width">
            <img src="../../../../assets/images/typ1.jpg" alt="" style="width: 60px; height: 60px; border-radius: 50%; object-fit: cover;">
            <!-- <app-heading class="" title="Benjamin Kliemann" size="sm" subTitle="Creator" [breadcrumbs]=""></app-heading> -->
            <div fxFlex fxLayout="column" fxLayoutAlign="center center">
              <h3 class="m-0">Falco</h3>
              <h6 class="m-0" style="color: var(--accent-color);">Beatmaker</h6>
            </div>
          </mat-card>
          <mat-card fxLayout fxLayoutAlign="start center" fxLayoutGap="30px" class="artist-card full-width">
            <img src="../../../../assets/images/backgrounds/featuresHome-testimonial_04_2x.png" alt="" style="width: 60px; height: 60px; border-radius: 50%; object-fit: cover;">
            <!-- <app-heading class="" title="Benjamin Kliemann" size="sm" subTitle="Creator" [breadcrumbs]=""></app-heading> -->
            <div fxFlex fxLayout="column" fxLayoutAlign="center center">
              <h3 class="m-0">Karim Abdul Jabbar</h3>
              <h6 class="m-0">Composer</h6>
            </div>
          </mat-card>
        </div>
        <!-- <div fxFlex="50"> -->
          <!-- <p class="pl-16 fs-16">
            Hello my georgious friends out there! <br>
    
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus voluptatum exercitationem quod corrupti quia temporibus facere aliquam iste repudiandae ratione alias, soluta nisi at labore voluptatem esse dolorum incidunt neque!
          </p> -->
          
        <!-- </div> -->
      </div>
    </div>
    <section fxFlex>
      <app-sub-heading title="MixedIns"></app-sub-heading>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px" class="pl-8" style="">
        <!-- <div class="corner-image"></div> -->
        <mat-card fxFlex="50" class="content-box" fxLayout="column">
  
          <h5 style="font-size: 18px;" class="my-8">MixedIns</h5>
          <p>Audio() that have been sampled:</p>
          <!-- <mat-divider class="mb-8"></mat-divider> -->
          <div fxFlex class="product-container" fxLayout="column" fxLayoutAlign="start center"
            [ngClass]="{'list-view': viewMode === 'list-view'}">
            <!-- Product Box -->
            <ng-container *ngIf="samples?.length <= 0 && samples != null" ; else product>
              <div fxFlex fxLayoutAlign="center">
                <span class="fs-24">No samples match your request.</span>
              </div>
            </ng-container>
            <ng-container #product>
              <!-- | paginate: { itemsPerPage: pageSize, currentPage: pageNo, totalItems: count } -->
              <div fxLayout="row wrap" class="product-wrap full-width" *ngFor="let sample of samples; let i = index;"
                [@animate]="{value:'*',params:{scale:'.9',delay:'300ms'}}">
                <!-- [@animate]="{value:'*',params:{delay: (i*300)+'ms', y:'300px'}}" -->
                <!-- [@animate]="{value:'*',params:{delay: (i*50)+'ms', y:'50px'}}" -->
                <!-- [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'100px'}}" -->
                <div fxLayout="column" class="product-inner default-bg full-width">
                  <!-- <div *ngIf="product?.badge?.text" class="product-badge mat-elevation-z7" [ngStyle]="{background: product?.badge?.color || '#f44336'}">
                    <span>{{product?.badge?.text}}</span>
                  </div> -->
                  <app-audio-panel [audioUnit]="sample?.audioUnit" type="primary" light="true" buttonText="Download"
                    (clickEvent)="downloadAudioFile(sample)"></app-audio-panel>
  
                  <!-- Visible when viewMode === list-view -->
                  <div class="more-info-wrap p-16" *ngIf="viewMode === 'list-view'">
                    <div class="more-info">
                      <div class="more-actions mb-16">
                        <div class="product-rating">
                          <star-rating [starType]="'svg'" [readOnly]="true" [size]="'medium'" [staticColor]="'ok'"
                            [rating]="4.63"></star-rating>
                          <small class="text-muted">(140)</small>
                        </div>
                        <span fxFlex></span>
                        <button mat-icon-button>
                          <mat-icon>playlist_add</mat-icon>
                        </button>
                        <button mat-icon-button>
                          <mat-icon>favorite</mat-icon>
                        </button>
                      </div>
  
                      <div>
                        <ul>
                          <li>
                            <mat-icon>check</mat-icon> Heavy duty
                          </li>
                          <li>
                            <mat-icon>check</mat-icon> Water resistance
                          </li>
                          <li>
                            <mat-icon>check</mat-icon> Clean design
                          </li>
                          <li>
                            <mat-icon>check</mat-icon> High quality raw materials
                          </li>
                        </ul>
                      </div>
  
                    </div>
                  </div>
  
                </div>
              </div>
            </ng-container>
  
            <!-- <pagination-controls (pageChange)="currentPage = $event"></pagination-controls> -->
            <!-- <div class="products-pagination" *ngIf="count > pageSize">
            <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
          </div> -->
            <p>Any sampels missing? Report <a href="" class="hypertext">here</a>.</p>
          </div>
  
        </mat-card>
  
        <mat-card fxFlex="50" class="content-box" fxLayout="column">
          <h5 style="font-size: 18px;" class="my-8">Used In</h5>
          <p>Song that used that Sample:</p>
          <!-- <mat-divider class="mb-8"></mat-divider> -->
          <div fxFlex class="product-container" fxLayout="column" fxLayoutAlign="start center"
            [ngClass]="{'list-view': viewMode === 'list-view'}">
            <!-- Product Box -->
            <ng-container *ngIf="samples?.length <= 0 && samples != null" ; else product>
              <div fxFlex fxLayoutAlign="center">
                <span class="fs-24">No samples match your request.</span>
              </div>
            </ng-container>
            <ng-container #product>
              <!-- | paginate: { itemsPerPage: pageSize, currentPage: pageNo, totalItems: count } -->
              <div fxLayout="row wrap" class="product-wrap full-width" *ngFor="let sample of samples; let i = index;"
                [@animate]="{value:'*',params:{delay: (i*300)+'ms', y:'300px'}}">
                <!-- [@animate]="{value:'*',params:{delay: (i*50)+'ms', y:'50px'}}" -->
                <!-- [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'100px'}}" -->
                <div fxLayout="column" class="product-inner default-bg full-width">
                  <!-- <div *ngIf="product?.badge?.text" class="product-badge mat-elevation-z7" [ngStyle]="{background: product?.badge?.color || '#f44336'}">
                    <span>{{product?.badge?.text}}</span>
                  </div> -->
                  <app-audio-panel [audioUnit]="sample?.audioUnit" type="primary" light="true" buttonText="Download"
                    (clickEvent)="downloadAudioFile(sample)"></app-audio-panel>
  
                  <!-- Visible when viewMode === list-view -->
                  <div class="more-info-wrap p-16" *ngIf="viewMode === 'list-view'">
                    <div class="more-info">
                      <div class="more-actions mb-16">
                        <div class="product-rating">
                          <star-rating [starType]="'svg'" [readOnly]="true" [size]="'medium'" [staticColor]="'ok'"
                            [rating]="4.63"></star-rating>
                          <small class="text-muted">(140)</small>
                        </div>
                        <span fxFlex></span>
                        <button mat-icon-button>
                          <mat-icon>playlist_add</mat-icon>
                        </button>
                        <button mat-icon-button>
                          <mat-icon>favorite</mat-icon>
                        </button>
                      </div>
  
                      <div>
                        <ul>
                          <li>
                            <mat-icon>check</mat-icon> Heavy duty
                          </li>
                          <li>
                            <mat-icon>check</mat-icon> Water resistance
                          </li>
                          <li>
                            <mat-icon>check</mat-icon> Clean design
                          </li>
                          <li>
                            <mat-icon>check</mat-icon> High quality raw materials
                          </li>
                        </ul>
                      </div>
  
                    </div>
                  </div>
  
                </div>
              </div>
            </ng-container>
  
            <!-- <pagination-controls (pageChange)="currentPage = $event"></pagination-controls> -->
            <!-- <div class="products-pagination" *ngIf="count > pageSize">
            <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
          </div> -->
            <p>Any sampels missing? Report <a href="" class="hypertext">here</a>.</p>
          </div>
        </mat-card>
      </div>
    </section>
  
  </div>
</div>