<div fxLayoutAlign="center center"
  style="height: 200px; background: var; background-image: url(../../../../assets/images/backgrounds/window-studio.jpg); background-repeat: none; background-size: cover; background-position: center;">
  <div class="m-16">
    <img src="../../../assets/images/sido.jpeg" alt="" class="artist-image mat-elevation-z1">
  </div>
</div>
<div fxLayout="column" fxLayoutAlign="space-between" class="p-16">
  <!-- <div fxLayout="column">
    <h1 style="margin: auto 0 0 8px;"> My <span style="color: var(--primary-color);">D</span>ash<span
        style="color: var(--accent-color);">b</span>oard</h1>
    <h4 style="margin: 0 0 auto 8px;">Overview your Financials.</h4>
  </div> -->
  <div fxLayout fxlayoutGap="10px" fxLayoutAlign="start center">
    <h1 class="m-0">
      <!-- <div style="width: 64px; height: 64px;" class="mr-16">
            <mat-icon style="font-size: 12px;" inline="true" svgIcon="undraw-upload"></mat-icon>
          </div> -->
      <!-- <mat-icon style="font-size: 30px;" inline="true">upgrade</mat-icon> -->
      <span style="color: var(--primary-color);">H</span>
      <span style="">i, </span>
      <!-- <span style="color: var(--accent-color); font-weight: 600;">S</span> -->
      <span style="font-weight: 600; color: var(--base-accent-color);">{{userData?.artistAlias?.artistName}}</span>
    </h1>

  </div>
  <p style="font-size: 22px; color: var(--base-accent-color);">Build Your Legacy With BeatBlender</p>

  <h4 class="pl-8 mt-4" style="font-size: 20px; font-weight: 300;">No matter what license you use, no Sample requires
    a pre-investment and can be used on all Streaming Services.</h4>
</div>
<div class="p-8" style="overflow: hidden;">

  <mat-divider class="mb-16"></mat-divider>
  <h1 class="mx-0 mb-16 text-center">
    <!-- <div style="width: 64px; height: 64px;" class="mr-16">
          <mat-icon style="font-size: 12px;" inline="true" svgIcon="undraw-upload"></mat-icon>
        </div> -->
    <!-- <mat-icon style="font-size: 30px;" inline="true">upgrade</mat-icon> -->
    <span style="color: var(--primary-color);">Y</span>
    <span style="">our </span>
    <span style="color: var(--accent-color); font-weight: 600;">S</span>
    <span style="font-weight: 600; color: var(--base-accent-color);">amples</span>
  </h1>
  <!-- <div
    style="background: var; background-image: url(../../../../assets/images/techno.jpg); background-repeat: none; background-size: cover;"
    class="py-48"> -->
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="p-16 my-32 mx-48" fxLayoutGap="10px">
      <mat-card fxLayoutAlign="center center" fxLayout="column" [ngStyle.xs]="{'width' : '100%'}"
        [ngStyle.sm]="{'width' : '50%'}" [ngStyle.md]="{'width' : '50%'}" [ngStyle.lg]="{'width' : '30%'}"
        [ngStyle.xl]="{'width' : '30%'}" class="dashboard-card">
        <h4 fxLayoutAlign="start center" class="my-16 text-muted" style="">
          <!-- <small>Sampled</small>  -->
          <small class="text-muted" style="font-family: 'Lazer84';">Sampled</small>

          <span fxFlex></span>

        </h4>
        <div>
          <h3 class="m-0 font-normal balance-text">128 Times</h3>
          <small class="text-muted">by our Community</small>
        </div>
      </mat-card>
      <mat-card fxLayoutAlign="center center" fxLayout="column"
        style="border-left: 2px solid var(--light-theme-accent); border-right: 2px solid var(--light-theme-accent);"
        [ngStyle.xs]="{'width' : '100%'}" [ngStyle.sm]="{'width' : '50%'}" [ngStyle.md]="{'width' : '50%'}"
        [ngStyle.lg]="{'width' : '30%'}" [ngStyle.xl]="{'width' : '30%'}" class="dashboard-card">
        <h4 fxLayoutAlign="start center" class="my-16">
          <small class="text-muted" style="font-family: 'Lazer84';">Currrent Balance</small>
          <span fxFlex></span>

        </h4>
        <div>
          <h3 class="m-0 font-normal balance-text">22,450 Dollar</h3>
          <small class="text-muted">earned by you</small>
        </div>
      </mat-card>
      <mat-card fxLayoutAlign="center center" fxLayout="column" [ngStyle.xs]="{'width' : '100%'}"
        [ngStyle.sm]="{'width' : '50%'}" [ngStyle.md]="{'width' : '50%'}" [ngStyle.lg]="{'width' : '30%'}"
        [ngStyle.xl]="{'width' : '30%'}" class="dashboard-card">
        <h4 fxLayoutAlign="start center" class="my-16">
          <small class="text-muted" style="font-family: 'Lazer84';">Produced Tracks</small>
          <span fxFlex></span>

        </h4>
        <div>
          <h3 class="m-0 font-normal balance-text">3 <span style="color: var(--primary-color);">B</span> <span
              style="color: var(--accent-color);">B</span>-Remixes</h3>
          <small class="text-muted">with Samples from BeatBlender</small>
        </div>
      </mat-card>

    </div>

  <!-- </div> -->
  <div class="product-container" fxLayout="row wrap" fxLayoutAlign="start start">
    <!-- Product Box -->
    <ng-container
      *ngIf="(sampleLicensingMarketService.samples$ | async)?.length <= 0 && (sampleLicensingMarketService.samples$ | async) != null"
      ; else product>
      <div fxFlex fxLayoutAlign="center">
        <span class="fs-24">No samples match your request.</span>
      </div>
    </ng-container>
    <ng-container #product>
      <ng-container
        *ngFor="let sample of (sampleLicensingMarketService.samples$ | async) | paginate: { itemsPerPage: pageSize, currentPage: pageNo, totalItems: count }; let i = index;">
        <div *ngIf="i < 4" fxLayout="row" class="product-wrap"
          [@animate]="{value:'*',params:{delay: (i*300)+'ms', y:'300px'}}">
          <!-- [@animate]="{value:'*',params:{delay: (i*50)+'ms', y:'50px'}}" -->
          <!-- [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'100px'}}" -->
          <div fxLayout="column" class="product-inner default-bg mx-8 my-16 full-width">
            <!-- <div *ngIf="product?.badge?.text" class="product-badge mat-elevation-z7" [ngStyle]="{background: product?.badge?.color || '#f44336'}">
                            <span>{{product?.badge?.text}}</span>
                          </div> -->
            <app-audio-panel [sample]="sample" light="true" [type]="viewMode === 'grid-view' ? 'sample' : 'primary'"
              (clickEvent)="redirectToTermsAndConditions(sample)"></app-audio-panel>

            <!-- Visible when viewMode === list-view -->
            <!-- <div class="more-info-wrap p-16" *ngIf="viewMode === 'list-view'">
                          <div class="more-info">
                            <div class="more-actions mb-16">
                              <div class="product-rating">
                                <star-rating [starType]="'svg'" [readOnly]="true" [size]="'medium'" [staticColor]="'ok'"
                                  [rating]="4.63"></star-rating>
                                <small class="text-muted">(140)</small>
                              </div>
                              <span fxFlex></span>
                              <button mat-icon-button>
                                <mat-icon>playlist_add</mat-icon>
                              </button>
                              <button mat-icon-button>
                                <mat-icon>favorite</mat-icon>
                              </button>
                            </div>
            
                            <div>
                              <ul>
                                <li>
                                  <mat-icon>check</mat-icon> Heavy duty
                                </li>
                                <li>
                                  <mat-icon>check</mat-icon> Water resistance
                                </li>
                                <li>
                                  <mat-icon>check</mat-icon> Clean design
                                </li>
                                <li>
                                  <mat-icon>check</mat-icon> High quality raw materials
                                </li>
                              </ul>
                            </div>
            
                          </div>
                        </div> -->

          </div>
        </div>

      </ng-container>
    </ng-container>

    <div class="products-pagination" *ngIf="count > pageSize">
      <!-- <pagination-controls (pageChange)="currentPage = $event"></pagination-controls> -->
      <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
    </div>
  </div>
  <mat-divider></mat-divider>
  <h1 class="mx-0 mb-16">
    <!-- <div style="width: 64px; height: 64px;" class="mr-16">
          <mat-icon style="font-size: 12px;" inline="true" svgIcon="undraw-upload"></mat-icon>
        </div> -->
    <!-- <mat-icon style="font-size: 30px;" inline="true">upgrade</mat-icon> -->
    Your

    <span style="color: var(--primary-color); font-weight: 600;">B</span><span
      style="color: var(--accent-color); font-weight: 600;">B</span>
    <span style="font-weight: 600; color: var(--base-accent-color);">-Remixes</span>
  </h1>
  <div
    style="background: var; background-image: url(../../../../assets/images/backgrounds/window-studio.jpg); background-repeat: none; background-size: cover;"
    class="py-48">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="my-48 mx-48 mat-elevation-z1"
      style="border-radius: 8px; background: var(--light-theme);">
      <section fxLayoutAlign="center center" fxLayout="column" [ngStyle.xs]="{'width' : '100%'}"
        [ngStyle.sm]="{'width' : '50%'}" [ngStyle.md]="{'width' : '50%'}" [ngStyle.lg]="{'width' : '30%'}"
        [ngStyle.xl]="{'width' : '30%'}" class="dashboard-card">
        <h4 fxLayoutAlign="start center" class="my-16 text-muted" style="">
          <!-- <small>Sampled</small>  -->
          <small class="text-muted" style="font-family: 'Lazer84';">Sampled</small>

          <span fxFlex></span>

        </h4>
        <div>
          <h3 class="m-0 font-normal balance-text">128 Times</h3>
          <small class="text-muted">by our Community</small>
        </div>
      </section>
      <section fxLayoutAlign="center center" fxLayout="column"
        style="border-left: 2px solid var(--light-theme-accent); border-right: 2px solid var(--light-theme-accent);"
        [ngStyle.xs]="{'width' : '100%'}" [ngStyle.sm]="{'width' : '50%'}" [ngStyle.md]="{'width' : '50%'}"
        [ngStyle.lg]="{'width' : '30%'}" [ngStyle.xl]="{'width' : '30%'}" class="dashboard-card">
        <h4 fxLayoutAlign="start center" class="my-16">
          <small class="text-muted" style="font-family: 'Lazer84';">Currrent Balance</small>
          <span fxFlex></span>

        </h4>
        <div>
          <h3 class="m-0 font-normal balance-text">22,450 Dollar</h3>
          <small class="text-muted">earned by you</small>
        </div>
      </section>
      <section fxLayoutAlign="center center" fxLayout="column" [ngStyle.xs]="{'width' : '100%'}"
        [ngStyle.sm]="{'width' : '50%'}" [ngStyle.md]="{'width' : '50%'}" [ngStyle.lg]="{'width' : '30%'}"
        [ngStyle.xl]="{'width' : '30%'}" class="dashboard-card">
        <h4 fxLayoutAlign="start center" class="my-16">
          <small class="text-muted" style="font-family: 'Lazer84';">Produced Tracks</small>
          <span fxFlex></span>

        </h4>
        <div>
          <h3 class="m-0 font-normal balance-text">3 <span style="color: var(--primary-color);">B</span> <span
              style="color: var(--accent-color);">B</span>-Remixes</h3>
          <small class="text-muted">with Samples from BeatBlender</small>
        </div>
      </section>

    </div>

  </div>

  <div class="product-container" fxLayout="row wrap" fxLayoutAlign="start start">
    <!-- Product Box -->
    <ng-container
      *ngIf="(sampleLicensingMarketService.samples$ | async)?.length <= 0 && (sampleLicensingMarketService.samples$ | async) != null"
      ; else product>
      <div fxFlex fxLayoutAlign="center">
        <span class="fs-24">No samples match your request.</span>
      </div>
    </ng-container>
    <ng-container #product>
      <ng-container
        *ngFor="let sample of (sampleLicensingMarketService.samples$ | async) | paginate: { itemsPerPage: pageSize, currentPage: pageNo, totalItems: count }; let i = index;">
        <div *ngIf="i < 2" fxLayout="row" class="product-wrap"
          [@animate]="{value:'*',params:{delay: (i*300)+'ms', y:'300px'}}">
          <!-- [@animate]="{value:'*',params:{delay: (i*50)+'ms', y:'50px'}}" -->
          <!-- [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'100px'}}" -->
          <div fxLayout="column" class="product-inner default-bg mx-8 my-16 full-width">
            <!-- <div *ngIf="product?.badge?.text" class="product-badge mat-elevation-z7" [ngStyle]="{background: product?.badge?.color || '#f44336'}">
                            <span>{{product?.badge?.text}}</span>
                          </div> -->
            <app-audio-panel [sample]="sample" light="true" [type]="viewMode === 'grid-view' ? 'sample' : 'primary'"
              (clickEvent)="redirectToTermsAndConditions(sample)"></app-audio-panel>

            <!-- Visible when viewMode === list-view -->
            <!-- <div class="more-info-wrap p-16" *ngIf="viewMode === 'list-view'">
                          <div class="more-info">
                            <div class="more-actions mb-16">
                              <div class="product-rating">
                                <star-rating [starType]="'svg'" [readOnly]="true" [size]="'medium'" [staticColor]="'ok'"
                                  [rating]="4.63"></star-rating>
                                <small class="text-muted">(140)</small>
                              </div>
                              <span fxFlex></span>
                              <button mat-icon-button>
                                <mat-icon>playlist_add</mat-icon>
                              </button>
                              <button mat-icon-button>
                                <mat-icon>favorite</mat-icon>
                              </button>
                            </div>
            
                            <div>
                              <ul>
                                <li>
                                  <mat-icon>check</mat-icon> Heavy duty
                                </li>
                                <li>
                                  <mat-icon>check</mat-icon> Water resistance
                                </li>
                                <li>
                                  <mat-icon>check</mat-icon> Clean design
                                </li>
                                <li>
                                  <mat-icon>check</mat-icon> High quality raw materials
                                </li>
                              </ul>
                            </div>
            
                          </div>
                        </div> -->

          </div>
        </div>

      </ng-container>
    </ng-container>

    <div class="products-pagination" *ngIf="count > pageSize">
      <!-- <pagination-controls (pageChange)="currentPage = $event"></pagination-controls> -->
      <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
    </div>
  </div>
  <h1 class="mx-0 mb-16">
    <!-- <div style="width: 64px; height: 64px;" class="mr-16">
          <mat-icon style="font-size: 12px;" inline="true" svgIcon="undraw-upload"></mat-icon>
        </div> -->
    <!-- <mat-icon style="font-size: 30px;" inline="true">upgrade</mat-icon> -->
    Songs That

    <span style="color: var(--primary-color); font-weight: 600;">Mixed</span><span
      style="color: var(--accent-color); font-weight: 600;">In</span>
    <span style="font-weight: 600; color: var(--base-accent-color);"> Your Samples</span>
  </h1>
  <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="p-16 mat-elevation-z1"
    style="border-radius: 4px; background: var;">
    <section fxLayoutAlign="center center" fxLayout="column" [ngStyle.xs]="{'width' : '100%'}"
      [ngStyle.sm]="{'width' : '50%'}" [ngStyle.md]="{'width' : '50%'}" [ngStyle.lg]="{'width' : '30%'}"
      [ngStyle.xl]="{'width' : '30%'}" class="dashboard-card">
      <h4 fxLayoutAlign="start center" class="my-16 text-muted" style="">
        <!-- <small>Sampled</small>  -->
        <small class="text-muted" style="font-family: 'Lazer84';">Sampled</small>

        <span fxFlex></span>

      </h4>
      <div>
        <h3 class="m-0 font-normal balance-text">128 Times</h3>
        <small class="text-muted">by our Community</small>
      </div>
    </section>
    <section fxLayoutAlign="center center" fxLayout="column"
      style="border-left: 2px solid var(--light-theme-accent); border-right: 2px solid var(--light-theme-accent);"
      [ngStyle.xs]="{'width' : '100%'}" [ngStyle.sm]="{'width' : '50%'}" [ngStyle.md]="{'width' : '50%'}"
      [ngStyle.lg]="{'width' : '30%'}" [ngStyle.xl]="{'width' : '30%'}" class="dashboard-card">
      <h4 fxLayoutAlign="start center" class="my-16">
        <small class="text-muted" style="font-family: 'Lazer84';">Currrent Balance</small>
        <span fxFlex></span>

      </h4>
      <div>
        <h3 class="m-0 font-normal balance-text">22,450 Dollar</h3>
        <small class="text-muted">earned by you</small>
      </div>
    </section>
    <section fxLayoutAlign="center center" fxLayout="column" [ngStyle.xs]="{'width' : '100%'}"
      [ngStyle.sm]="{'width' : '50%'}" [ngStyle.md]="{'width' : '50%'}" [ngStyle.lg]="{'width' : '30%'}"
      [ngStyle.xl]="{'width' : '30%'}" class="dashboard-card">
      <h4 fxLayoutAlign="start center" class="my-16">
        <small class="text-muted" style="font-family: 'Lazer84';">Produced Tracks</small>
        <span fxFlex></span>

      </h4>
      <div>
        <h3 class="m-0 font-normal balance-text">3 <span style="color: var(--primary-color);">B</span> <span
            style="color: var(--accent-color);">B</span>-Remixes</h3>
        <small class="text-muted">with Samples from BeatBlender</small>
      </div>
    </section>

  </div>
  <div class="product-container" fxLayout="row wrap" fxLayoutAlign="start start">
    <!-- Product Box -->
    <ng-container
      *ngIf="(sampleLicensingMarketService.samples$ | async)?.length <= 0 && (sampleLicensingMarketService.samples$ | async) != null"
      ; else product>
      <div fxFlex fxLayoutAlign="center">
        <span class="fs-24">No samples match your request.</span>
      </div>
    </ng-container>
    <ng-container #product>
      <ng-container
        *ngFor="let sample of (sampleLicensingMarketService.samples$ | async) | paginate: { itemsPerPage: pageSize, currentPage: pageNo, totalItems: count }; let i = index;">
        <div *ngIf="i < 2" fxLayout="row" class="product-wrap"
          [@animate]="{value:'*',params:{delay: (i*300)+'ms', y:'300px'}}">
          <!-- [@animate]="{value:'*',params:{delay: (i*50)+'ms', y:'50px'}}" -->
          <!-- [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'100px'}}" -->
          <div fxLayout="column" class="product-inner default-bg mx-8 my-16 full-width">
            <!-- <div *ngIf="product?.badge?.text" class="product-badge mat-elevation-z7" [ngStyle]="{background: product?.badge?.color || '#f44336'}">
                            <span>{{product?.badge?.text}}</span>
                          </div> -->
            <app-audio-panel [sample]="sample" light="true" [type]="viewMode === 'grid-view' ? 'sample' : 'primary'"
              (clickEvent)="redirectToTermsAndConditions(sample)"></app-audio-panel>

            <!-- Visible when viewMode === list-view -->
            <!-- <div class="more-info-wrap p-16" *ngIf="viewMode === 'list-view'">
                          <div class="more-info">
                            <div class="more-actions mb-16">
                              <div class="product-rating">
                                <star-rating [starType]="'svg'" [readOnly]="true" [size]="'medium'" [staticColor]="'ok'"
                                  [rating]="4.63"></star-rating>
                                <small class="text-muted">(140)</small>
                              </div>
                              <span fxFlex></span>
                              <button mat-icon-button>
                                <mat-icon>playlist_add</mat-icon>
                              </button>
                              <button mat-icon-button>
                                <mat-icon>favorite</mat-icon>
                              </button>
                            </div>
            
                            <div>
                              <ul>
                                <li>
                                  <mat-icon>check</mat-icon> Heavy duty
                                </li>
                                <li>
                                  <mat-icon>check</mat-icon> Water resistance
                                </li>
                                <li>
                                  <mat-icon>check</mat-icon> Clean design
                                </li>
                                <li>
                                  <mat-icon>check</mat-icon> High quality raw materials
                                </li>
                              </ul>
                            </div>
            
                          </div>
                        </div> -->

          </div>
        </div>

      </ng-container>
    </ng-container>

    <div class="products-pagination" *ngIf="count > pageSize">
      <!-- <pagination-controls (pageChange)="currentPage = $event"></pagination-controls> -->
      <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
    </div>
  </div>
  <!-- 
  <h2 class="ml-16" style="color: var(--base-accent-color);"><span
      style="color: var(--primary-color);">R</span>oyalities
    from My Releases</h2>
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50" [@animate]="{value:'*',params:{scale:'.9',delay:'300ms'}}">
      <mat-card class="dashboard-card">
        <mat-card-title fxLayoutAlign="start center">
          <small class="text-muted">Total Streaming Income</small>
          <span fxFlex></span>

        </mat-card-title>
        <mat-card-content>
          <h3 class="m-0 font-normal">22,450</h3>
          <small class="text-muted">Your Current Balance</small>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}">
      <mat-card class="dashboard-card">
        <mat-card-title>
          <small class="text-muted">Total Streams</small>
          <span fxFlex></span>
          <mat-chip class="icon-chip" color="accent" selected="true">
            <mat-icon>trending_up</mat-icon>10%
          </mat-chip>
        </mat-card-title>
        <mat-card-content>
          <h3 class="m-0 font-normal">11,567</h3>
          <small class="text-muted">Times Played</small>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}">
      <mat-card class="dashboard-card">
        <mat-card-title>
          <small class="text-muted">My Tracks</small>
          <span fxFlex></span>
          <mat-chip class="icon-chip" color="accent" selected="true">
            <mat-icon>trending_up</mat-icon>9%
          </mat-chip>
        </mat-card-title>
        <mat-card-content>
          <h3 class="m-0 font-normal">2,300$</h3>
          <small class="text-muted">Dollar</small>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}">
      <mat-card class="dashboard-card">
        <mat-card-title>
          <small class="text-muted">Songs that sampled my songs</small>
          <span fxFlex></span>
          <mat-chip class="icon-chip" color="warn" selected="true">
            <mat-icon>trending_down</mat-icon>2%
          </mat-chip>
        </mat-card-title>
        <mat-card-content>
          <h3 class="m-0 font-normal">5</h3>
          <small class="text-muted">Songs Uploaded</small>
        </mat-card-content>
      </mat-card>
    </div>
  </div>


</div>
<div class="p-8" style="">
  <h2 class="ml-8" style="color: var(--base-accent-color);"> <span
      style="color: var(--primary-color);">R</span>oyalities from other Releases</h2>

  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50" [@animate]="{value:'*',params:{scale:'.9',delay:'300ms'}}">
      <mat-card class="dashboard-card">
        <mat-card-title fxLayoutAlign="start center">
          <small class="text-muted">Total Streaming Income</small>
          <span fxFlex></span>

        </mat-card-title>
        <mat-card-content>
          <h3 class="m-0 font-normal">22,450</h3>
          <small class="text-muted">Your Current Balance</small>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}">
      <mat-card class="dashboard-card">
        <mat-card-title>
          <small class="text-muted">Total Streams</small>
          <span fxFlex></span>
          <mat-chip class="icon-chip" color="accent" selected="true">
            <mat-icon>trending_up</mat-icon>10%
          </mat-chip>
        </mat-card-title>
        <mat-card-content>
          <h3 class="m-0 font-normal">11,567</h3>
          <small class="text-muted">Times Played</small>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}">
      <mat-card class="dashboard-card">
        <mat-card-title>
          <small class="text-muted">My Tracks</small>
          <span fxFlex></span>
          <mat-chip class="icon-chip" color="accent" selected="true">
            <mat-icon>trending_up</mat-icon>9%
          </mat-chip>
        </mat-card-title>
        <mat-card-content>
          <h3 class="m-0 font-normal">2,300$</h3>
          <small class="text-muted">Dollar</small>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}">
      <mat-card class="dashboard-card">
        <mat-card-title>
          <small class="text-muted">Songs that sampled my songs</small>
          <span fxFlex></span>
          <mat-chip class="icon-chip" color="warn" selected="true">
            <mat-icon>trending_down</mat-icon>2%
          </mat-chip>
        </mat-card-title>
        <mat-card-content>
          <h3 class="m-0 font-normal">5</h3>
          <small class="text-muted">Songs Uploaded</small>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>
<mat-card class="default">
  <mat-card-title>My Billings</mat-card-title>
  <mat-card-content class="p-0" fxLayout="column">
    <div class="activity-data">
      <ngx-datatable class="material bg-white" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
        [rowHeight]="50" [limit]="4" [rows]="activityData">
        <ngx-datatable-column name="Month" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.month }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Total" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.spent }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="My Songs" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.opened }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Collaboration Tree" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.closed }}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </mat-card-content>
</mat-card>
<div fxLayout="row wrap">
  <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
    <mat-card class="default">
      <mat-card-title>Timeline</mat-card-title>
      <mat-card-content>
        <div class="timeline">
          <div class="timeline-item">
            <div class="timeline-badge">
              <img src="assets/images/face-6.jpg" alt="">
            </div>
            <div class="timeline-body">
              <div class="timeline-body-top" fxLayout="row">
                <a href="#" class="timeline-body-title mr-16"><b>Jhone Doe</b> updated his status</a>
                <span class="text-muted">1 hour ago</span>
                <span fxFlex></span>
              </div>
              <div class="timeline-body-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem necessitatibus natus fugit porro at
                  sunt mollitia repellendus deserunt, libero similique.</p>
              </div>
              <div class="timeline-body-actions">
                <a href="#" class="mr-16 text-muted">Like</a>
                <a href="#" class="text-muted">Comment</a>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-badge">
              <img src="assets/images/face-2.jpg" alt="">
            </div>
            <div class="timeline-body">
              <div class="timeline-body-top" fxLayout="row">
                <a href="#" class="timeline-body-title mr-16"><b>Henry krick</b> added a new photo</a>
                <span class="text-muted">15 hours ago</span>
                <span fxFlex></span>
              </div>
              <div class="timeline-body-content">
                <img src="assets/images/photo-600_220.jpg" alt="">
              </div>
              <div class="timeline-body-actions">
                <a href="#" class="mr-16 text-muted">Like</a>
                <a href="#" class="text-muted">Comment</a>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-badge">
              <mat-icon class="icon-badge mat-bg-primary">settings</mat-icon>
            </div>
            <div class="timeline-body">
              <div class="timeline-body-top" fxLayout="row">
                <a href="#" class="timeline-body-title mr-16"><b>New follower</b></a>
                <span class="text-muted">2 days ago</span>
                <span fxFlex></span>
              </div>
              <div class="timeline-body-content">
                <p><a class="mat-color-primary" href="">Kevin Huyn</a> and 34 others followed you.</p>
              </div>
              <div class="timeline-body-actions">
                <a href="#" class="mr-16 text-muted">Like</a>
                <a href="#" class="text-muted">Comment</a>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-badge">
              <mat-icon class="icon-badge mat-bg-warn">settings</mat-icon>
            </div>
            <div class="timeline-body">
              <div class="timeline-body-top" fxLayout="row">
                <a href="#" class="timeline-body-title mr-16"><b>Membership upgraded</b></a>
                <span class="text-muted">5 days ago</span>
                <span fxFlex></span>
              </div>
              <div class="timeline-body-content">
                <p>Membership has been upgraded to pro</p>
              </div>
              <div class="timeline-body-actions">
                <a href="#" class="mr-16 text-muted">Like</a>
                <a href="#" class="text-muted">Comment</a>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>


  </div>

  <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
    <mat-card class="default">
      <mat-card-title>Support Tickets</mat-card-title>
      <mat-card-content class="p-0">
        <mat-list class="compact-list mb-16">
          <mat-list-item class="" *ngFor="let t of tickets">
            <img mat-list-avatar class="mr-16" [src]="t.img" alt="">
            <div fxLayout="row" fxFlex="100">
              <h6 class="m-0 mr-16">{{t.name}}</h6>
              <span fxFlex></span>
              <div fxFlex="40">{{t.text | excerpt:20 }}</div>
              <span fxFlex></span>
              <small class="text-muted mr-16 ml-16">{{ t.date | relativeTime}}</small>
            </div>
            <mat-chip mat-sm-chip [color]="'warn'" [selected]="t.isOpen">{{t.isOpen ? 'active' : 'closed'}}</mat-chip>
          </mat-list-item>
        </mat-list>
        <div class="text-center">
          <button mat-button class="full-width">View all</button>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="default">
      <mat-card-title>Sample Collection</mat-card-title>
      <mat-card-content class="p-0">
        <div class="list-tasktype">
          <div class="tasktype-item" *ngFor="let t of tasks">
            <mat-checkbox class="mr-16"></mat-checkbox>
            <span>{{t.text}}</span>
            <span fxFlex></span>
            <mat-chip mat-sm-chip color="primary" [selected]="t.status ? true : false">{{t.status ? 'Full License' :
              'Basic License'}}</mat-chip>
            <button mat-icon-button mat-sm-button [matMenuTriggerFor]="taskMenu" class="tasktype-action ml-16">
              <mat-icon class="text-muted">more_vert</mat-icon>
            </button>
            <mat-menu #taskMenu="matMenu">
              <button mat-menu-item>
                <mat-icon>done</mat-icon>
                <span>Completed</span>
              </button>
              <button mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="text-center">
          <button mat-button class="full-width">View all</button>
        </div>
      </mat-card-content>
    </mat-card>



  </div>
</div> -->