<section fxLayout="column">
    <!-- <span class="ml-16 mt-4" style="color: var(--body-color); font-family: monospace; letter-spacing: 3px;">Quick Access</span> -->
    <div fxLayout="row wrap" fxFlex fxLayoutAlign="start center" class="quick-access-menu-container">
        <ng-container class="icon-menu-item" *ngFor="let item of menuItems; let i = index;">
            <div *ngIf="!item.disabled && item.type === 'icon'" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0" class="button-container">
                <!-- [ngStyle]="{'background': setBackgroundColor(i)}" -->
                <button class="quick-access-button ml-8 mr-4 mat-elevation-z1" mat-flat-button [matTooltip]="item.tooltip" [matTooltipPosition]="'above'"
                    routerLink="/{{item.state}}" routerLinkActive="active">
                    <!-- [ngStyle]="{'color': setIconColor(i)}" -->
                    <mat-icon *ngIf="item.icon" class="sidenav-mat-icon">{{item.icon}}</mat-icon>
                    <!-- [ngStyle]="{'color': setIconColor(i)}" -->
                    <mat-icon  *ngIf="item.svgIcon" [svgIcon]="item.svgIcon" class="svgIcon"></mat-icon>
                </button>
                <span class="quick-access-button-text">{{item.tooltip}}</span>
            </div>
        </ng-container>
    </div>

</section>