<section fxLayout="column" *ngIf="type !== 'iconButton'">
  <mat-toolbar
    [ngStyle]="{background: audioUnit?.audioUnitID === (playStateControlService.currentSampleID$ | async) ? 'var(--light-theme-accent)' : 'var(--light-theme)'}"
    (click)="triggerToolbar()" style="border-radius: 4px; border: 1px solid var(--light-theme-accent);" class="player-widget pl-0 py-0"
    fxLayout="row" fxLayoutAlign="start center">
    <img style="" [src]="getImage()" alt="" class="">

    
    <ng-container *ngIf="type === 'primary' && light === 'true'">
      <ng-container >
        <mat-chip-list aria-label="Fish selection" style="margin-left: 20px;">
          <mat-chip>#{{audioUnit?.title}}</mat-chip>
          <mat-chip>#{{audioUnit?.artistAlias.artistName}}</mat-chip>
          <mat-chip>#{{sample?.genre}}</mat-chip>
          <mat-chip>#{{sample?.tempo}}</mat-chip>
          <ng-container *ngFor="let mood of sample?.moods">
            <mat-chip>#{{mood}}</mat-chip>
          </ng-container>
          <!-- <ng-container *ngFor="let tag of sample?.tags">
            <mat-chip>#{{tag}}</mat-chip>
          </ng-container>
          <mat-chip>#WAV</mat-chip> -->


        </mat-chip-list>
      </ng-container>
    <!-- <div fxFlex fxLayout="column" fxLayoutAlign="start start" class="full-height">
      <div fxLayout="column" fxLayoutAlign="end start" class="px-16 pb-8 full-height">
        <span [ngStyle]="{color: audioUnit?.audioUnitID === (playStateControlService.currentSampleID$ | async) ? 'var(--light-theme)' : 'var(--body-color)'}" class="title m-0 pt-auto" style="line-height: 20px; font-weight: 300 !important; font-size: 16px !important;">{{audioUnit?.title}}</span>
          <span [ngStyle]="{color: audioUnit?.audioUnitID === (playStateControlService.currentSampleID$ | async) ? 'var(--light-theme)' : 'var(--body-color)'}" class="m-0" style="font-size: 14px; font-weight: 300; line-height: 18px;" (click)="routeToArtistProfile($event)">by <a
              class="">{{audioUnit?.artistAlias.artistName}}</a></span>
       
          </div>
    </div> -->
  </ng-container>
  <span fxFlex>
      
  </span>
    <!-- <button mat-icon-button class="mr-8" *ngIf="type === 'primary' || 'sample'" (click)="stopPropagation($event)">
      <mat-icon>download</mat-icon>
    </button> -->
    <button mat-icon-button style="background: white;" class="mr-8" *ngIf="type === 'primary' || 'sample'" (click)="stopPropagation($event)">
      <mat-icon>download</mat-icon>
    </button>
    <button (click)="triggerPlayButton($event)" class="mat-elevation-z1" mat-icon-button [ngStyle]="{background: audioUnit?.audioUnitID === (playStateControlService.currentSampleID$ | async) ? 'var(--light-theme)' : 'var(--light-theme)',
        border: audioUnit?.audioUnitID === (playStateControlService.currentSampleID$ | async) ? '2px solid rgba(106,106,106,0.02)' : '2px solid rgba(106,106,106,0.02)'
        
      }" fxLayout="row" fxLayoutAlign="center center">
      <mat-icon
        [ngStyle]="{color: audioUnit?.audioUnitID === (playStateControlService.currentSampleID$ | async) ? 'var(--primary-color)': 'var(--body-color)'}">
        {{audioUnit?.audioUnitID === (playStateControlService.currentSampleID$ | async) &&
        (playStateControlService.playState$ | async) ? 'pause' : 'play_arrow'}}
      </mat-icon>
    </button>

  </mat-toolbar>

  <ng-container *ngIf="type === 'sample' || type === 'playlist'">
    <div class="info-wrap p-16 pl-0 pb-0" fxLayout="column" [routerLink]="'/details/' + audioUnit?.audioUnitID">
      <div class="main-info p-8">
        <!-- <h3 class="title">{{audioUnit?.title}}</h3>
        <p class=" p-line" (click)="routeToArtistProfile($event)">by <a
            class="hypertext">{{audioUnit?.artistAlias.artistName}}</a></p>
         -->
         
        <!-- <ng-container *ngIf="type === 'sample'">
          <mat-chip-list aria-label="Fish selection">
            <mat-chip>#{{audioUnit?.title}}</mat-chip>
            <mat-chip>#{{audioUnit?.artistAlias.artistName}}</mat-chip>
            <mat-chip>#{{sample?.genre}}</mat-chip>
            <mat-chip>#{{sample?.tempo}}</mat-chip>
            <ng-container *ngFor="let mood of sample?.moods">
              <mat-chip>#{{mood}}</mat-chip>
            </ng-container>
            <ng-container *ngFor="let tag of sample?.tags">
              <mat-chip>#{{tag}}</mat-chip>
            </ng-container>
            <mat-chip>#WAV</mat-chip>


          </mat-chip-list>
        </ng-container> -->
      </div>
      <ng-container *ngIf="type === 'sample'">
        <div class="actions">
        </div>
        <span fxFlex>
          
        </span>

      </ng-container>
    </div>
  </ng-container>


</section>
<!-- </ng-template> -->

<ng-container #iconButtonTemplate *ngIf="type === 'iconButton'">
  <button (click)="triggerPlayButton($event)" mat-icon-button [ngStyle]="{background: audioUnit?.audioUnitID === (playStateControlService.currentSampleID$ | async) ? 'var(--primary-color)' : '#fafafa',
        border: audioUnit?.audioUnitID === (playStateControlService.currentSampleID$ | async) ? '1px solid var(--primary-color)' : '1px solid var(--body-color)'
        
      }"
    [ngClass]="audioUnit?.audioUnitID === (playStateControlService.currentSampleID$ | async) ? 'mat-elevation-z1' : ''"
    fxLayout="row" fxLayoutAlign="center center">
    <!-- (click)="playState ? pause(audioUnit?.audioUnitID === currentSampleID, audioUnit?.audioUnitID) : play(audioUnit?.audioUnitID === currentSampleID, audioUnit?.audioUnitID)" -->

    <!-- [ngStyle]="{color: audioUnit?.sampleID === (playStateControlService.currentSampleID$ | async) ? 'var(--body-color)': 'grey'}"> -->
    <mat-icon
      [ngStyle]="{color: audioUnit?.audioUnitID === (playStateControlService.currentSampleID$ | async) ? 'var(--light-theme)': 'var(--body-color)'}">
      {{audioUnit?.audioUnitID === (playStateControlService.currentSampleID$ | async) &&
      (playStateControlService.playState$ | async) ? 'pause' : 'play_arrow'}}
    </mat-icon>
  </button>

</ng-container>