<section fxLayout="column" *ngIf="type !== 'iconButton'">
  <mat-toolbar
    [ngStyle]="{background: audioUnit?.audioUnitID === (playStateControlService.currentSampleID$ | async) ? 'var(--light-theme-accent)' : 'var(--light-theme)'}"
    (click)="triggerToolbar()" style="border-radius: 4px;" class="player-widget pl-0 py-0"
    fxLayout="row" fxLayoutAlign="start center">
    <img style="border-top-left-radius: 4px; border-bottom-left-radius: 4px;" [src]="getImage()" alt="" class="">

    
    <ng-container *ngIf="type === 'primary' && light === 'true'">

    <div fxFlex fxLayout="column" fxLayoutAlign="start start" class="full-height">
      <div fxLayout="column" fxLayoutAlign="end start" class="px-16 pb-8 full-height">
        <span class="title m-0 pt-auto" style="line-height: 20px; font-weight: 300 !important; font-size: 16px !important;">{{audioUnit?.title}}</span>
          <span class="m-0" style="font-size: 14px; font-weight: 300; line-height: 18px;" (click)="routeToArtistProfile($event)">by <a
              class="hypertext">{{audioUnit?.artistAlias.artistName}}</a></span>
       
      </div>
      
    </div>
  </ng-container>
  <span fxFlex></span>
    <button mat-icon-button class="mr-8" *ngIf="type === 'primary' || 'sample'" (click)="stopPropagation($event)">
      <mat-icon>download</mat-icon>
    </button>
    <button (click)="triggerPlayButton($event)" class="mat-elevation-z1" mat-icon-button [ngStyle]="{background: audioUnit?.audioUnitID === (playStateControlService.currentSampleID$ | async) ? 'var(--light-theme)' : 'var(--light-theme)',
        border: audioUnit?.audioUnitID === (playStateControlService.currentSampleID$ | async) ? '2px solid rgba(106,106,106,0.02)' : '2px solid rgba(106,106,106,0.02)'
        
      }" fxLayout="row" fxLayoutAlign="center center">
      <mat-icon
        [ngStyle]="{color: audioUnit?.audioUnitID === (playStateControlService.currentSampleID$ | async) ? 'var(--primary-color)': 'var(--body-color)'}">
        {{audioUnit?.audioUnitID === (playStateControlService.currentSampleID$ | async) &&
        (playStateControlService.playState$ | async) ? 'pause' : 'play_arrow'}}
      </mat-icon>
    </button>

  </mat-toolbar>

  <ng-container *ngIf="type === 'sample' || type === 'playlist'">
    <div class="info-wrap p-16" fxLayout="column" [routerLink]="'/details/' + audioUnit?.audioUnitID">
      <div class="main-info">
        <h3 class="title">{{audioUnit?.title}}</h3>
        <p class=" p-line" (click)="routeToArtistProfile($event)">by <a
            class="hypertext">{{audioUnit?.artistAlias.artistName}}</a></p>
        
        <ng-container *ngIf="type === 'sample'">
          <p class=" p-line">
            <strong>Category:</strong> {{sample?.genre}}
          </p>
          <p class=" p-line">
            <strong>Tempo:</strong> {{sample?.tempo}} BPM
          </p>
          <p class=" p-line">
            <strong>Moods:</strong>
            <!-- <span-list aria-label="Fish selection"> -->
            <!-- <span>#{{audioUnit?.}}</span>
                        <span>#{{audioUnit?.region}}</span>
                        <span>#{{audioUnit?.songKey}}</span>
                        <span>#Dmoll</span> -->
            <span *ngFor="let mood of sample?.moods">{{mood}}</span>

            <!-- </span-list> -->
            <!-- <span *ngFor="let t of ">{{audioUnit?.sampleTitle}} </span> -->
          </p>
          <p fxLayout="row wrap" class=" p-line">
            <strong>Tags:</strong>
            <!-- <span-list aria-label="Fish selection"> -->
            <!-- <span>#{{audioUnit?.}}</span>
                        <span>#{{audioUnit?.region}}</span>
                        <span>#{{audioUnit?.songKey}}</span>
                        <span>#Dmoll</span> -->
            <span *ngFor="let tag of sample?.tags">#{{tag}}</span>

            <!-- </span-list> -->
            <!-- <span *ngFor="let t of ">{{audioUnit?.sampleTitle}} </span> -->
          </p>
          <p class=" p-line">
            <strong>Available Formats:</strong>
            <!-- <mat-chip-list aria-label="Fish selection"> -->
            <!-- <mat-chip>mp3</mat-chip> -->
            <!-- <mat-chip>wav</mat-chip> -->
            <!-- <mat-chip color="primary" selected>Primary fish</mat-chip> -->
            <!-- <mat-chip color="accent" selected>Accent fish</mat-chip> -->
            <!-- </mat-chip-list> -->
            <span>mp3</span>
            <span>wav</span>
          </p>
          <p class=" p-line">
            <strong>Remixable:</strong>
            <span>
              <mat-icon color="primary">check</mat-icon>

            </span>
          </p>
        </ng-container>
      </div>
      <ng-container *ngIf="type === 'sample'">
        <div class="actions">
          <!-- <div class="price-rating"> -->
          <!-- <div class="price"> -->
          <!-- <span><strong>License Type: </strong><a href=""
              style="color: var(--accent-color); text-decoration: underline;">{{getLicenseType(audioUnit)}}</a></span> -->
          <!-- <del class="text-muted">{{audioUnit?.lep}}Karma</del> -->
          <!-- </div> -->
          <!-- </div> -->
          <!-- <div class="add-to-cart">
              <span fxFlex></span>
              <button mat-icon-button>
                <mat-icon>library_add</mat-icon>
              </button>
            </div> -->
        </div>
        <span fxFlex></span>

      </ng-container>
      <!-- <div fxLayout fxLayoutAlign="start center" class="mt-16">
        <mat-icon class="mr-8" color="primary">error_outline</mat-icon> <a href="" class="hypertext">Audio contains
          other samples</a>
      </div> -->
    </div>
    <!-- (click)="downloadBasicLicense()" -->
    <!-- <ng-container *ngIf="button === true">
      <ng-container *ngIf="type === 'sample'">
        <button (click)="throwClickEvent()" style="width: fit-content;"
          *ngIf="audioUnit?.audioUnitID !== (playStateControlService.currentSampleID$ | async)" fxFlex="50px"
          mat-raised-button class="download-button ml-auto">
          <span class="fw-700 fs-16">{{buttonText}}</span>
        </button>

      </ng-container>
      <ng-container *ngIf="type === 'sample'">
        <button (click)="throwClickEvent()" style="width: fit-content;"
          *ngIf="audioUnit?.audioUnitID === (playStateControlService.currentSampleID$ | async)" fxFlex="50px"
          mat-raised-button class="download-button ml-auto">
          <span class="fw-700 fs-16">{{buttonText}}</span>
        </button>
      </ng-container>
     
    </ng-container> -->
  </ng-container>
  <!-- </ng-container> -->



  <!-- </section> -->

</section>
<!-- </ng-template> -->

<ng-container #iconButtonTemplate *ngIf="type === 'iconButton'">
  <button (click)="triggerPlayButton($event)" mat-icon-button [ngStyle]="{background: audioUnit?.audioUnitID === (playStateControlService.currentSampleID$ | async) ? 'var(--primary-color)' : '#fafafa',
        border: audioUnit?.audioUnitID === (playStateControlService.currentSampleID$ | async) ? '1px solid var(--primary-color)' : '1px solid var(--body-color)'
        
      }"
    [ngClass]="audioUnit?.audioUnitID === (playStateControlService.currentSampleID$ | async) ? 'mat-elevation-z1' : ''"
    fxLayout="row" fxLayoutAlign="center center">
    <!-- (click)="playState ? pause(audioUnit?.audioUnitID === currentSampleID, audioUnit?.audioUnitID) : play(audioUnit?.audioUnitID === currentSampleID, audioUnit?.audioUnitID)" -->

    <!-- [ngStyle]="{color: audioUnit?.sampleID === (playStateControlService.currentSampleID$ | async) ? 'var(--body-color)': 'grey'}"> -->
    <mat-icon
      [ngStyle]="{color: audioUnit?.audioUnitID === (playStateControlService.currentSampleID$ | async) ? 'var(--light-theme)': 'var(--body-color)'}">
      {{audioUnit?.audioUnitID === (playStateControlService.currentSampleID$ | async) &&
      (playStateControlService.playState$ | async) ? 'pause' : 'play_arrow'}}
    </mat-icon>
  </button>

</ng-container>