.header {
    width: 100%;
    height: 200px;
    background-image: url(../../../../assets/images/backgrounds/window-studio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 40px;
    background-blend-mode: luminosity;
    // background-blend-mode: ;
}