<section fxLayout="column">
    <div class="header" fxLayout="column" fxLayoutAlign="start center">
        <!-- <img src="../../../../assets/images/backgrounds/studio.jpg" alt=""> -->
    </div>
        <h1 class="py-32 m-0" style="font-weight: 900; font-size: 50px; text-align: left;">Licensing</h1>
        <p class="" style="">We make music licensing as simple as streaming music online, and guide you through each step of clearing your samples.</p>
        <div fxLayout="column" fxLayoutGap="50px">
            <section fxLayout fxLayoutAlign="space-between center">
                <img style="width: 300px; height: 200px; object-fit: cover;" src="../../../../assets/images/backgrounds/licensing-process2.svg" alt="">
                <div fxFlex fxLayout="column" class="pl-32">
                    <h2>License To Release</h2>
                    <p>If you want to release your new song, you must first get a sample license. We have three price categories, and you know what the fee will be even before you download the audio track. The category is listed below each track when you dig. No surprises.</p>
                </div>
            </section>
            <section fxLayout fxLayoutAlign="space-between center">
                <div fxFlex fxLayout="column" class="pl-32">
                    <h2>License To Release</h2>
                    <p>If you want to release your new song, you must first get a sample license. We have three price categories, and you know what the fee will be even before you download the audio track. The category is listed below each track when you dig. No surprises.</p>
                </div>
                <img style="width: 300px; height: 200px; object-fit: cover;" src="../../../../assets/images/backgrounds/licensing-process2.svg" alt="">
            </section>
            <section fxLayout fxLayoutAlign="space-between center">
                <img style="width: 300px; height: 200px; object-fit: cover;" src="../../../../assets/images/backgrounds/licensing-process2.svg" alt="">
                <div fxFlex fxLayout="column" class="pl-32">
                    <h2>License To Release</h2>
                    <p>If you want to release your new song, you must first get a sample license. We have three price categories, and you know what the fee will be even before you download the audio track. The category is listed below each track when you dig. No surprises.</p>
                </div>
            </section>

        </div>
        <div fxLayout fxLayoutAlign="center center" class="py-32">
            <button fxFlex="30" routerLink="/licensing/register-track" mat-raised-button mat-lg-button color="primary">Register Track</button>
        </div>
</section>